---
http_interactions:
- request:
    method: get
    uri: https://www.amcm.gov.mo/api/v1.0/cms/financial_info?Begin=20260518&End=20260522&QueryType=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ssr:
      - 'off'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"OK","data":[{"id":228934,"date":"2026-05-22 00:00:00","currency":"AUD","unit":1.0,"usdMean":"5.7635","usdMeanValue":5.76350000,"bid":"0.7141"},{"id":228935,"date":"2026-05-22
        00:00:00","currency":"CAD","unit":1.0,"usdMean":"5.8548","usdMeanValue":5.85480000,"bid":"1.3783"},{"id":228936,"date":"2026-05-22
        00:00:00","currency":"CHF","unit":1.0,"usdMean":"10.2567","usdMeanValue":10.25670000,"bid":"0.7867"},{"id":228937,"date":"2026-05-22
        00:00:00","currency":"CNY","unit":1.0,"usdMean":"1.1871","usdMeanValue":1.18710000,"bid":"679.76"},{"id":228938,"date":"2026-05-22
        00:00:00","currency":"DKK","uni[...]
