---
http_interactions:
- request:
    method: get
    uri: https://api.centralbankofmorocco.ma/cours/Version1/api/CoursVirement?date=2026-03-25T12:30:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BAM_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2026-03-25T12:30:00","libDevise":"NOK","moyen":95.938,"uniteDevise":100},{"date":"2026-03-25T12:30:00","libDevise":"SEK","moyen":100.06,"uniteDevise":100},{"date":"2026-03-25T12:30:00","libDevise":"DKK","moyen":144.61,"uniteDevise":100},{"date":"2026-03-25T12:30:00","libDevise":"SAR","moyen":2.4839,"uniteDevise":1},{"date":"2026-03-25T12:30:00","libDevise":"JPY","moyen":5.862,"uniteDevise":100},{"date":"2026-03-25T12:30:00","libDevise":"AUD","moyen":6.4942,"uniteDevise":1},{"date":"2026-03-25T12:30:00","libDevise":"DZD","moyen":0.7032,"uniteDevise":10},{"date":"[...]
[...]
