---
http_interactions:
- request:
    method: post
    uri: https://www.banguat.gob.gt/variables/ws/TipoCambio.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <TipoCambioRango xmlns="http://www.banguat.gob.gt/variables/ws/">
              <fechainit>01/03/2026</fechainit>
              <fechafin>20/03/2026</fechafin>
            </TipoCambioRango>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><TipoCambioRangoResponse
        xmlns="http://www.banguat.gob.gt/variables/ws/"><TipoCambioRangoResult><Vars><Var><moneda>2</moneda><fecha>01/03/2026</fecha><venta>7.66476</venta><compra>7.66476</compra></Var><Var><moneda>2</moneda><fecha>02/03/2026</fecha><venta>7.66143</venta><compra>7.66143</compra></Var><Var><moneda>2</moneda><fecha>03/03/2026</fecha><venta>7.6658</venta><compra>7.6658</compra></Var><Var><moneda>2</moneda><fecha>04/03/2026</fecha><venta>7.66344</venta><compra>7.66344</compra></Var><Var><moneda>2</moneda><fecha>05/03/2026</fecha><venta>7.66314</venta><compra>7.66314</compra></Var><Var><moneda>2</moneda><fecha>06/03/2026</fecha><venta>7.66271</venta><compra>7.[...]
