---
http_interactions:
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27AUD%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8;odata.metadata=minimal
      Odata-Version:
      - '4.0'
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://was-p.bcnet.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata$metadata#_CotacaoMoedaPeriodo","value":[{"paridadeCompra":0.70570,"paridadeVenda":0.70580,"cotacaoCompra":3.66930,"cotacaoVenda":3.67020,"dataHoraCotacao":"2026-03-02
        13:09:26.433","tipoBoletim":"Fechamento"},{"paridadeCompra":0.69950,"paridadeVenda":0.69980,"cotacaoCompra":3.69780,"cotacaoVenda":3.69980,"dataHoraCotacao":"2026-03-03
        13:10:27.879","tipoBoletim":"Fechamento"},{"paridadeCompra":0.70710,"paridadeVenda":0.70730,"cotacaoCompra":3.68290,"cotacaoVenda":3.68440,"dataHoraCotacao":"2026-03-04
        13:07:27.146","tipoBoletim":"Fechamento"},{"paridadeCompra":0.70120,"paridadeVenda":0.70130,"cotacaoCompra":3.67720,"cotacaoVenda":3.67810,"dataHoraCotacao":"2026-03-05
        13:03:29.746","tipoBoletim":"Fechamento"},{"paridadeCompra":0.70040,"paridadeVenda":0.70060,"cotacaoCompra":3.70320,"cotacaoVenda":3.70460,"dataHoraCotacao":"2026-03-06
        13:10:27.63","tipoBoletim":"Fechamento"}]}'
  recorded_at: Tue, 31 Mar 2026 19:25:37 GMT
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27CAD%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27CHF%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27DKK%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27EUR%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27GBP%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27JPY%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27NOK%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27SEK%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?$filter=tipoBoletim%20eq%20%27Fechamento%27&$format=json&@dataFinalCotacao=%2703-07-2026%27&@dataInicial=%2703-01-2026%27&@moeda=%27USD%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
