---
http_interactions:
- request:
    method: get
    uri: https://api.bcra.gob.ar/estadisticascambiarias/v1.0/Cotizaciones?fecha=2026-03-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jws-Signature:
      - eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImlhdCI6MTc3NDIxMjk5OSwiZXhwIjoxNzc0MjQxNzk5fQ..By_LBErIr3vKb1KyimDOMtSzivei6VDcyjk75XZm9SNLz-cwNA376ruKci93-3OAqawReOLRmCDs4KwcXeIPXFaaXNJoDn1ypKB69OZF7rOJEmD2RXSaJdCrNjqpfcGJY7148rF1KN9uz_uxGyEOb_x0U-HGznzUlqFBwPiOFxicmmbYnAuTEMirp2JKj02DL5191QTf1WFQK7-AzlXOtcvjsBkwP204vnxb1qpzpIPUH1GR8maAn5HkS-ICn1eICFhxEyuneWrWpQdLWvEOIftSdx2xqg4PB3BtAdiQKD5i_NeC4P-ce0VKWUqeOAI-6U8QipGJuvjMWg7QS4R3KA
    body:
      encoding: UTF-8
      string: '{"status":200,"results":{"fecha":"2026-03-19","detalle":[{"codigoMoneda":"ARS","descripcion":"PESO","tipoPase":0.00071700,"tipoCotizacion":0.00000000},{"codigoMoneda":"AUD","descripcion":"DOLAR
        AUSTRALIA","tipoPase":0.70550000,"tipoCotizacion":983.81975000},{"codigoMoneda":"AWG","descripcion":"FLORIN
        (ANTILLAS HOLANDESAS)","tipoPase":0.55865900,"tipoCotizacion":779.05027900},{"codigoMoneda":"BOB","descripcion":"BOLIVIANOS","tipoPase":0.14499100,"tipoCotizacion":202.18935800},{"codigoMoneda":"BRL","descripcion":"REAL","tipoPase":0.19079600,"tipoCotizacion":266.06502300},{"codigoMoneda":"CAD","descripcion":"DOLAR
    [...]
[...]
