---
http_interactions:
- request:
    method: get
    uri: https://bpstat.bportugal.pt/data/v1/domains/29/datasets/23e0cdd56bddb4ad3016a9c3ad63a539/?dim_cats=40:4263&lang=EN&obs_since=1998-12-28&obs_to=1998-12-31&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Throttle:
      - '1000'
      Allow:
      - GET, HEAD, OPTIONS
      X-Host:
      - bpstat.bportugal.pt
      Last-Modified:
      - Sun, 26 Apr 2026 23:33:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"version":"2.0","label":"Counterparty currency; Reference currency;
        Source; Flows, stocks and prices; Metrics; Periodicity; Unit of measure","id":["12","13","18","19","29","40","70","reference_date"],"size":[11,1,1,1,1,1,1,4],"extension":{"num_series":705,"obs_updated_at":"2026-04-24T15:30:00Z","series":[{"id":180121,"label":"US,
        Dollars (USD) against Escudo - daily","dimension_category":[{"dimension_id":12,"category_id":826},{"dimension_id":29,"category_id":3609},{"dimension_id":19,"category_id":14},{"dimension_id":18,"category_id":35},{"dimension_id":70,"category_id":3337},{"dimension_id":13,"category_id":794},{"dimension_id":40,"category_id":4263}],"href":"https://bpstat.bportugal.pt/data/v1/series/?series_ids=180121&lang=EN"},{"id":180122,"label":"ECU
        - Banco do Portugal (ECU) against Escudo - daily","dimension_category":[{"dimension_id":13,"category_id":794},{"dimension_id":40,"category_id":4263},{"dimension_id":12,"category_id":2777},{"dimension_id":29,"category_id":3609},{"dimension_id":19,"category_id":14},{"dimension_id":18,"category_id":35},{"dimension_id":70,"category_id":3337}],"href":"https://bpstat.bportugal.pt/data/v1/series/?[...]
[...]
