---
http_interactions:
- request:
    method: post
    uri: https://www.banky-foibe.mg/admin/wp-json/bfm/cours_mid_en_ar_filter
    body:
      encoding: ASCII-8BIT
      string: dateFilterDebut=2026%2F09%2F21&dateFilterFin=2026%2F09%2F23&filterData=EUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.banky-foibe.mg/admin/wp-json/>; rel="https://api.w.org/"
      Allow:
      - POST
    body:
      encoding: UTF-8
      string: '{"code":"cours-de-mid-en-ar-filter","message":"Cours de Mid en Ariary
        entre deux dates","data":{"status":200,"data":{"coursMid":{"2026-09-23":"4
        983,29","2026-09-22":"4 994,66","2026-09-21":"4 984,87"},"coursMidMax":{"2026-09-23":"5
        000,00","2026-09-22":"5 013,00","2026-09-21":"5 005,00"},"coursMidMin":{"2026-09-23":"4
        950,00","2026-09-22":"4 980,00","2026-09-21":"4 969,00"},"grapheData":{"2026-09-21":"4984.87","2026-09-22":"4994.66","2026-09-23":"4983.29"}}}}'
  recorded_at: Sat, 26 Sep 2026 19:57:27 GMT
[...]
- request:
    method: post
    uri: https://www.banky-foibe.mg/admin/wp-json/bfm/cours_mid_en_ar_filter
    body:
      encoding: ASCII-8BIT
      string: dateFilterDebut=2018%2F01%2F02&dateFilterFin=2018%2F01%2F05&filterData=CNY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.banky-foibe.mg/admin/wp-json/>; rel="https://api.w.org/"
      Allow:
      - POST
    body:
      encoding: UTF-8
      string: '{"code":"cours-de-mid-en-ar-filter","message":"Cours de Mid en Ariary
        entre deux dates","data":{"status":200,"data":{"coursMid":{"2018-01-05":"496,93","2018-01-04":"496,97","2018-01-03":"496,23","2018-01-02":"495,99"},"coursMidMax":[],"coursMidMin":[],"grapheData":{"2018-01-02":"495.99","2018-01-03":"496.23","2018-01-04":"496.97","2018-01-05":"496.93"}}}}'
  recorded_at: Sat, 26 Sep 2026 19:59:04 GMT
recorded_with: VCR 6.4.0
