---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"698689823f9283d0dcd51fb9cf4d32e310e29cfa-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"currency_code":"INR","unit":100,"rate":{"date":"2026-03-19","buying_rate":4.2199999999999998,"selling_rate":4.2289000000000003,"middle_rate":4.2244000000000002}},{"currency_code":"SDR","unit":1,"rate":{"date":"2026-03-19","buying_rate":null,"selling_rate":null,"middle_rate":5.3537999999999997}},{"currency_code":"SAR","unit":100,"rate":{"date":"2026-03-19","buying_rate":104.5973,"selling_rate":104.76819999999999,"middle_rate":104.6828}},{"currency_code":"PKR","unit":100,"rate":{"date":"2026-03-19","buying_rate":1.4037999999999999,"selling_rate":1.4097,"middle_rate":1.4067000000000001}},{"currency_code":"PHP","unit":100,"rate":{"date":[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/INR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3efa674180a869d3777970f249e4d55441ff71c2-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"INR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SDR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9f41251346f09c1891c27e10ba5d5a7e44e740bb-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"SDR","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SAR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"73ce2a78da9a716a739fee85b7e220eb55d5056a-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"SAR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/PKR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c499595537e9825700c162ab5017270f175f4f17-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"PKR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/PHP/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"74138d2b5cfdf763b0831f9071296c269e039df9-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"PHP","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/NZD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"da23a3ba8931471ece4a25d394cd1d7717d5fa38-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"NZD","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/NPR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"983c9419abda00b5ffec358652e8f2cceb970985-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"NPR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/MMK/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9146f2dcbbeb3385e4488b04762f8ef76a30c407-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"MMK","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/KRW/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2434ccb7fc377d1941654f2c521fcda203e1fbdb-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"KRW","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/KHR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3be1374ea6d588d45b1fa7dcb2a0842a2c180bca-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"KHR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/JPY/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cc835dac5a84ce539590a072f5c6b110688709bc-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"JPY","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SGD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"22c159841c7d32d7a715639cdfb4f842d1e6ffcd-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"SGD","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/IDR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8013e4dd808202b4e79f37c75a7ca0d6e41864c9-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"IDR","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/HKD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"572aafd47514137dd01c693de29bdb49b4755147-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"HKD","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/GBP/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2043500244a3025304eca9387723e2a224946261-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"GBP","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/EUR/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0099f4c9b659ccd0fc91ee9d497e11c464483b53-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"EUR","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/EGP/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5a6770d460e67b9af37a78c3e96df8d65b3bac92-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"EGP","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CNY/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a73e11d36fd4b70ae4ed2705e447495d8cf11052-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"CNY","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CHF/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0e602909f435cee17c5978fc115a69b388e61240-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"CHF","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CAD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2ad18ef9976c9311820a7292bf5caede744262f9-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"CAD","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/BND/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"453932421911062096c4f71891ba6970cbed42b5-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"BND","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/AUD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"242f36aaffebe56f341cd6e00616e0bfbc3f28dc-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"AUD","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/AED/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5644675f4e9b6088f4819054178829f7cde7654d-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"AED","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/VND/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2803d2c6447e5260abf722f1af68f2887761d29b-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"VND","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/USD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"092ab27615bc4dfcb4ee73486c3168e3612d5bd5-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"USD","unit":1,"rate":[{"date":"2026-03-02","buying_rate"[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/TWD/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c51b0ac65a181bb2e28289f911a30ae872efefc1-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"TWD","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/THB/year/2026/month/3?session=0900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f505f43878e4f747ba26ebd025a6a1c053223193-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"THB","unit":100,"rate":[{"date":"2026-03-02","buying_rat[...]
