---
http_interactions:
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6628e0d88e176a78f7f4e53a3d4b7329d8d9b513-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"currency_code":"CHF","unit":1,"rate":{"date":"2026-03-19","buying_rate":4.9577,"selling_rate":4.9684999999999997,"middle_rate":4.9630999999999998}},{"currency_code":"CAD","unit":1,"rate":{"date":"2026-03-19","buying_rate":2.859,"selling_rate":2.8647,"middle_rate":2.8618999999999999}},{"currency_code":"BND","unit":1,"rate":{"date":"2026-03-19","buying_rate":3.0611999999999999,"selling_rate":3.0684,"middle_rate":3.0648}},{"currency_code":"AUD","unit":1,"rate":{"date":"2026-03-19","buying_rate":2.7650999999999999,"selling_rate":2.7709000000000001,"middle_rate":2.7679999999999998}},{"currency_code":"AED","unit":100,"rate":{[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CHF/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:02:41 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CAD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ac932c9e14f8375189af7306bd64cf570ce3bc61-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"CAD","unit":1,"rate":[{"date":"2026-03-02","buying_rate":2.8344,"sell[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/BND/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:03 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/AUD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3c666da8d5e341af0320816465ca7589f920cb9a-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"AUD","unit":1,"rate":[{"date":"2026-03-02","buying_rate":2.7473999999[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/AED/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:05 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/CNY/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:06 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/NPR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:08 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/VND/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:09 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/USD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ee5a7e525ea372d3ef8c9f34735a066a82249e89-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"USD","unit":1,"rate":[{"date":"2026-03-02","buying_rate":3.887,"selli[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/TWD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:11 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/THB/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:12 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SGD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"904e0cfe14812036c2a009f8d06d63d6d4b69c75-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"SGD","unit":1,"rate":[{"date":"2026-03-02","buying_rate":3.0587,"sell[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SDR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:15 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/SAR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:16 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/PKR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:17 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/PHP/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:18 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/NZD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:20 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/MMK/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:21 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/KRW/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:22 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/KHR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:23 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/JPY/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1a3804a41c1f96b83f1463693979d718b274f90b-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"JPY","unit":100,"rate":[{"date":"2026-03-02","buying_rate":2.47210000[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/INR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:25 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/IDR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:26 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/HKD/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:28 GMT
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/GBP/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bab9c157c979ef30b992603d38331191a49acf00-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"GBP","unit":1,"rate":[{"date":"2026-03-02","buying_rate":5.2169999999[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/EUR/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bb5436044e38fb67fae6c62fa6cd448416a83d52-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"currency_code":"EUR","unit":1,"rate":[{"date":"2026-03-02","buying_rate":4.5754999999[...]
- request:
    method: get
    uri: https://api.bnm.gov.my/public/exchange-rate/EGP/year/2026/month/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4b84695dfc4bc90d12c2be7ff4c0dae6ece45994-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"quote":"rm","session":"1130","last_updated":"2026-03-19
        23:01:22","total_result":0}}'
  recorded_at: Fri, 20 Mar 2026 00:03:31 GMT
recorded_with: VCR 6.4.0
