---
http_interactions:
- request:
    method: get
    uri: https://curs.bnr.ro/files/xml/years/nbrfxrates2026.xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 19 Aug 2026 10:02:03 GMT
      Etag:
      - '"6a857f1b-34d84"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <DataSet xmlns="https://www.bnr.ro/xsd" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://curs.bnr.ro/xsd/nbrfxrates.xsd"><Header><Publisher>National Bank of Romania</Publisher><PublishingDate>2026-08-19</PublishingDate><MessageType>DR</MessageType></Header><Body><Subject>Reference rates</Subject><OrigCurrency>RON</OrigCurrency><Cube date="2026-01-05"><Rate currency="AED">1.1859</Rate><Rate currency="AUD">2.9114</Rate><Rate currency="BRL">0.8032</Rate><Rate currency="CAD">3.1637</Rate><Rate currency="CHF">5.4781</Rate><Rate currency="CNY">0.6224</Rate><Rate currency="CZK">0.2106</Rate><Rate currency="DKK">0.6815</Rate><Rate currency="EGP">0.0920</Rate><Rate currency="EUR">5.0905</Rate><Rate currency="GBP">5.8633</Rate><Rate currency="HKD">0.5593</Rate><Rate currency="HUF" multiplier="100">1.3247</Rate><Rate currency="IDR" multiplier="100">0.0260</R[...]
