---
http_interactions:
- request:
    method: get
    uri: https://www.bnr.ro/nbrfxrates10days.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 08 Apr 2026 10:02:03 GMT
      Etag:
      - '"69d6279b-3760"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <DataSet xmlns="http://www.bnr.ro/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.bnr.ro/xsd nbrfxrates.xsd"><Header><Publisher>National Bank of Romania</Publisher><PublishingDate>2026-04-08</PublishingDate><MessageType>DR</MessageType></Header><Body><Subject>Reference rates</Subject><OrigCurrency>RON</OrigCurrency><Cube date="2026-04-08"><Rate currency="AED">1.1872</Rate><Rate currency="AUD">3.0702</Rate><Rate currency="BRL">0.8463</Rate><Rate currency="CAD">3.1445</Rate><Rate currency="CHF">5.5292</Rate><Rate currency="CNY">0.6384</Rate><Rate currency="CZK">0.2087</Rate><Rate currency="DKK">0.6818</Rate><Rate currency="EGP">0.0818</Rate><Rate currency="EUR">5.0949</Rate><Rate currency="GBP">5.8559</Rate><Rate currency="HKD">0.5567</Rate><Rate currency="HUF" multiplier="100">1.3440</Rate><Rate currency="IDR" multiplier="100">0.0256</R[...]
