---
http_interactions:
- request:
    method: get
    uri: https://www.bankofcanada.ca/valet/observations/group/FX_RATES_DAILY/json?start_date=2026-03-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=FX_RATES_DAILY-sd-2026-03-12.json
      X-Valet-Mode:
      - l10
      X-Generated:
      - '2026-03-19 06:51:31'
      X-Dc:
      - t
    body:
      encoding: UTF-8
      string: |-
        {
            "terms": {
                "url": "https://www.bankofcanada.ca/terms/"
            },
            "groupDetail": {
                "label": "Daily exchange rates",
                "description": "Daily average exchange rates - published once each business day by 16:30 ET. All Bank of Canada exchange rates are indicative rates only.",
                "link": null
            },
            "seriesDetail": {
                "FXAUDCAD": {
                    "label": "AUD/CAD",
                    "description": "Australian dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXBRLCAD": {
                    "label": "BRL/CAD",
                    "description": "Brazilian real to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXCNYCAD": {
                    "label": "CNY/CAD",
                    "description": "Chinese renminbi to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXEURCAD": {
                    "label": "EUR/CAD",
                    "description": "European euro to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXHKDCAD": {
                    "label": "HKD/CAD",
                    "description": "Hong Kong dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXINRCAD": {
                    "label": "INR/CAD",
                    "description": "Indian rupee to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXIDRCAD": {
                    "label": "IDR/CAD",
                    "description": "Indonesian rupiah to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXJPYCAD": {
                    "label": "JPY/CAD",
                    "description": "Japanese yen to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXMYRCAD": {
                    "label": "MYR/CAD",
                    "description": "Malaysian ringgit to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXMXNCAD": {
                    "label": "MXN/CAD",
                    "description": "Mexican peso to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXNZDCAD": {
                    "label": "NZD/CAD",
                    "description": "New Zealand dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXNOKCAD": {
                    "label": "NOK/CAD",
                    "description": "Norwegian krone to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXPENCAD": {
                    "label": "PEN/CAD",
                    "description": "Peruvian new sol to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXRUBCAD": {
                    "label": "RUB/CAD",
                    "description": "Russian ruble to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXSARCAD": {
                    "label": "SAR/CAD",
                    "description": "Saudi riyal to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXSGDCAD": {
                    "label": "SGD/CAD",
                    "description": "Singapore dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXZARCAD": {
                    "label": "ZAR/CAD",
                    "description": "South African rand to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXKRWCAD": {
                    "label": "KRW/CAD",
                    "description": "South Korean won to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXSEKCAD": {
                    "label": "SEK/CAD",
                    "description": "Swedish krona to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXCHFCAD": {
                    "label": "CHF/CAD",
                    "description": "Swiss franc to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXTWDCAD": {
                    "label": "TWD/CAD",
                    "description": "Taiwanese dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXTHBCAD": {
                    "label": "THB/CAD",
                    "description": "Thai baht to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXTRYCAD": {
                    "label": "TRY/CAD",
                    "description": "Turkish lira to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXGBPCAD": {
                    "label": "GBP/CAD",
                    "description": "UK pound sterling to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXUSDCAD": {
                    "label": "USD/CAD",
                    "description": "US dollar to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                },
                "FXVNDCAD": {
                    "label": "VND/CAD",
                    "description": "Vietnamese dong to Canadian dollar daily exchange rate",
                    "dimension": {
                        "key": "d",
                        "name": "Date"
                    }
                }
            },
            "observations": [
                {
                    "d": "2026-03-12",
                    "FXAUDCAD": {
                        "v": "0.9661"
                    },
                    "FXBRLCAD": {
                        "v": "0.2614"
                    },
                    "FXCNYCAD": {
                        "v": "0.1982"
                    },
                    "FXEURCAD": {
                        "v": "1.5693"
                    },
                    "FXHKDCAD": {
                        "v[...]
