---
http_interactions:
- request:
    method: get
    uri: https://boj.org.jm/market/foreign-exchange/counter-rates/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Link:
      - "<https://boj.org.jm/?p=3382>; rel=shortlink"
      - <https://boj.org.jm/wp-json/>; rel="https://api.w.org/"
      - <https://boj.org.jm/wp-json/wp/v2/pages/3382>; rel="alternate"; title="JSON";
        type="application/json"
      X-Litespeed-Cache-Control:
      - no-cache
      Edit:
      - Set-Cookie (.*) "$1;Secure;SameSite=None"
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
        <head><title>BOJ Counter Rates</title></head>
        <body>
          <input type="hidden" id="wdtNonceFrontendServerSide_134" name="wdtNonceFrontendServerSide_134" value="5a1cc1896f" />
        </body>
        </html>
  recorded_at: Mon, 23 Mar 2026 00:32:37 GMT
- request:
    method: post
    uri: https://boj.org.jm/wp-admin/admin-ajax.php?action=get_wdtable&table_id=134
    body:
      encoding: US-ASCII
      string: draw=1&start=0&length=-1&wdtNonce=5a1cc1896f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Litespeed-Cache-Control:
      - no-cache
      Edit:
      - Set-Cookie (.*) "$1;Secure;SameSite=None"
    body:
      encoding: ASCII-8BIT
      string: '{"draw":1,"recordsTotal":34,"recordsFiltered":34,"data":[["19 Mar 2026","AUSTRALIAN
        DOLLAR","108.8818","97.9900","0.0000","112.1881"],["19 Mar 2026","BAHAMAS
        DOLLAR","153.8639","138.4800","0.0000","158.5361"],["19 Mar 2026","BARBADOS
        DOLLAR","76.9320","69.2400","0.0000","79.2681"],["19 Mar 2026","BELIZE DOLLAR","76.9320","69.2400","0.0000","79.2681"],["19
        Mar 2026","CANADA DOLLAR","112.3097","106.6900","0.0000","117.1630"],["19
        Mar 2026","CAYMAN DOLLAR","187.6389","168.8800","0.0000","193.3367"],["19
        Ma[...]
