---
http_interactions:
- request:
    method: post
    uri: https://api.cba.am/exchangerates.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                       xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ExchangeRatesLatest xmlns="http://www.cba.am/" />
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - '"http://www.cba.am/ExchangeRatesLatest"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ExchangeRatesLatestResponse
        xmlns="http://www.cba.am/"><ExchangeRatesLatestResult><CurrentDate>2026-10-01T00:00:00</CurrentDate><NextAvailableDate
        xsi:nil="true" /><PreviousAvailableDate>2026-09-30T00:00:00</PreviousAvailableDate><Rates><ExchangeRate><ISO>USD</ISO><Amount>1</Amount><Rate>362.82</Rate><Difference>-0.01</Difference></ExchangeRate><ExchangeRate><ISO>GBP</ISO><Amount>1</Amount><Rate>479.76</Rate><Difference>-2.44</Difference></ExchangeRate><ExchangeRate><ISO>AUD</ISO><Amount>1</Amount><Rate>252.01</Rate><Difference>-0.96</Difference></ExchangeRate><ExchangeRate><ISO>EUR</ISO><Amount>1</Amount><Rate>409.7</Rate><Difference>-2.44</Difference></ExchangeRate><ExchangeRate><ISO>XDR</ISO><Amount>1</Amount><Rate>493.34</Rate><Difference>0.31</Difference></ExchangeRate><ExchangeRate><ISO>IRR</ISO><[...]
- request:
    method: post
    uri: https://api.cba.am/exchangerates.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                       xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ExchangeRatesByDateRangeByISO xmlns="http://www.cba.am/">
          <ISOCodes>USD,GBP,AUD,EUR,XDR,IRR,PLN,CAD,INR,NOK,JPY,SEK,CHF,CZK,CNY,SGD,BRL,AED,KGS,KZT,RUB,UAH,UZS,BYN,TJS,GEL,HKD,XAU,XAG,NZD,ARP,ARS,ATS,BEF,BGL,BGN,BRC,BYR,DEM,DKK,EEK,EGP,ESP,FIM,FRF,GRD,HUF,IEP,ILS,ISK,ITL,KRW,KWD,LBP,LTL,LVL,MDL,MXN,NLG,PLZ,PTE,SAR,SDR,SKK,SYP,TRY,USM</ISOCodes>
          <DateFrom>2000-10-30</DateFrom>
          <DateTo>2000-11-01</DateTo>
        </ExchangeRatesByDateRangeByISO>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - '"http://www.cba.am/ExchangeRatesByDateRangeByISO"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ExchangeRatesByDateRangeByISOResponse
        xmlns="http://www.cba.am/"><ExchangeRatesByDateRangeByISOResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="ExchangeRatesByRange"
        msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element
        name="ExchangeRatesByRange"><xs:complexType><xs:sequence><xs:element name="Rate"
        type="xs:decimal" minOccurs="0" /><xs:element name="Amount" type="xs:int"
        minOccurs="0" /><xs:element name="ISO" minOccurs="0"><xs:simpleType><xs:restriction
        base="xs:string"><xs:maxLength value="3" /></xs:restriction></xs:simpleType></xs:element><xs:element
        name="Diff" msdata:ReadOnly="true" type="xs:decimal" minOccurs="0" /><xs:element
        name="RateDate" type="xs:dateTime" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><ExchangeRatesByRange diffgr:id="ExchangeRatesByRange1" msdata:rowOrder="0"><Rate>551.21</Rate><Amount>1</Amount><ISO>USD</ISO><Diff>0.00</Diff><RateDate>2000-10-30T00:00:00+04:00</RateDate></ExchangeRatesByRange><ExchangeRatesByRange
        diffgr:id="ExchangeRatesByRange2" msdata:rowOrder="1"><Rate>790.55</Rate><Amount>1</Amount><ISO>GBP</ISO><Diff>0.00</Diff><RateDate>2000-10-30T00:00:00+04:00</RateDate></ExchangeRatesByRange><ExchangeRatesByRange
        diffgr:id="ExchangeRatesByRange3" msdata:rowOrder="2"><Rate>286.41</Rate><Amount>1</Amount><ISO>AUD</ISO><Diff>0.00</Diff><RateDate>2000-10-30T00:00:00+04:00</RateDate></ExchangeRatesByRange><ExchangeRatesByRange
        diffgr:id="ExchangeRatesByRange4" msdata:rowOrder="3"><Rate>33.34[...]
[...]
