---
http_interactions:
- request:
    method: post
    uri: https://api.cba.am/exchangerates.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                       xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ExchangeRatesLatest xmlns="http://www.cba.am/" />
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - '"http://www.cba.am/ExchangeRatesLatest"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ExchangeRatesLatestResponse
        xmlns="http://www.cba.am/"><ExchangeRatesLatestResult><CurrentDate>2026-03-17T00:00:00</CurrentDate><NextAvailableDate
        xsi:nil="true" /><PreviousAvailableDate>2026-03-16T00:00:00</PreviousAvailableDate><Rates><ExchangeRate><ISO>USD</ISO><Amount>1</Amount><Rate>377.46</Rate><Difference>0.05</Difference></ExchangeRate><ExchangeRate><ISO>GBP</ISO><Amount>1</Amount><Rate>502.89</Rate><Difference>2.1</Difference></ExchangeRate><ExchangeRate><ISO>AUD</ISO><Amount>1</Amount><Rate>267.43</Rate><Difference>1.43</Difference></ExchangeRate><ExchangeRate><ISO>EUR</ISO><Amount>1</Amount><Rate>434.27</Rate><Difference>1.31</Difference></ExchangeRate><ExchangeRate><ISO>XDR</ISO><Amount>1</Amount><Rate>512.83</Rate><Difference>0.33</Difference></ExchangeRate><ExchangeRate><ISO>IRR</ISO><Amou[...]
