---
http_interactions:
- request:
    method: get
    uri: https://www.cbbh.ba/CurrencyExchange/GetJsonForPeriod?dateFrom=1998-01-06&dateTo=1998-01-08
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"CurrencyExchangeItems\": [\r\n      {\r\n        \"Country\":
        \"Australia\",\r\n        \"NumCode\": \"036\",\r\n        \"AlphaCode\":
        \"AUD\",\r\n        \"Units\": \"1\",\r\n        \"Buy\": \"1.17057051\",\r\n
        \       \"Middle\": \"1.17350427\",\r\n        \"Sell\": \"1.17643803\",\r\n
        \       \"Star\": null\r\n      },\r\n      {\r\n        \"Country\": \"Austria\",\r\n
        \       \"NumCode\": \"040\",\r\n        \"AlphaCode\": \"ATS\",\r\n        \"Units\":
        \"100\",\r\n        \"Buy\": \"14.17814103\",\r\n        \"Middle\": \"14.21367521\",\r\n
        \       \"Sell\": \"14.2492094\",\r\n        \"Star\": null\r\n      },\r\n
        \     {\r\n        \"Country\": \"Belgia\",\r\n        \"NumCode\": \"056\",\r\n
        \       \"AlphaCode\": \"BEF\",\r\n        \"Units\": \"[...]
[...]
- request:
    method: get
    uri: https://www.cbbh.ba/CurrencyExchange/GetJson?date=09/25/2026%2000:00:00
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"CurrencyExchangeItems\": [\r\n    {\r\n      \"Country\":
        \"EMU\",\r\n      \"NumCode\": \"978\",\r\n      \"AlphaCode\": \"EUR\",[...]
- request:
    method: get
    uri: https://www.cbbh.ba/CurrencyExchange/GetJsonForPeriod?dateFrom=2025-01-05&dateTo=2025-01-06
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"Problem with export"'
  recorded_at: Sat, 26 Sep 2026 20:02:31 GMT
[...]
