---
http_interactions:
- request:
    method: get
    uri: https://www.central-bank.org.tt/wp-json/rates/v1/forex-rate/2026-2026
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.central-bank.org.tt/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
      X-Litespeed-Cache-Control:
      - no-cache
    body:
      encoding: UTF-8
      string: '{"cbttdailyforexrates":[{"famedate":"2026-01-01","USD_Buying":null,"USD_Selling":null,"CAD_Buying":null,"CAD_Selling":null,"GBP_Buying":null,"GBP_Selling":null,"Euro_Buying":null,"Euro_Selling":null,"CHF_Buying":null,"CHF_Selling":null,"BBD_Buying":null,"BBD_Selling":null,"GYD_Buying":null,"GYD_Selling":null,"JMD_Buying":null,"JMD_Selling":null},{"famedate":"2026-01-02","USD_Buying":"6.7017","USD_Selling":"6.7992","CAD_Buying":"4.9174","CAD_Selling":"5.3326","GBP_Buying":"9.0495","GBP_Selling":"9.7405","Euro_Buying":"7.7751","Euro_Selling":"8.5862","CHF_Buying":null,"CHF_Selling":null,"BBD_Buying":"3.1823","BBD_Selling":"3.6238","GYD_Buying":"0.0313","GYD_Selling":"0.0327","JMD_Buying":"0.0409","JMD_Selling":"0.0428"},{"famedate":"2026-01-03","USD_Buying":null,"USD_Selling":null,"CAD_Buying":null,"CAD_Selling":null,"GBP_Buying":nu[...]
