---
http_interactions:
- request:
    method: get
    uri: https://cbu.uz/en/arkhiv-kursov-valyut/json/all/2026-04-01/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Powered-Cms:
      - Bitrix Site Manager (c8adcaa7ec7e7ae69696ea11d0fec79f)
    body:
      encoding: UTF-8
      string: '[{"id":69,"Code":"840","Ccy":"USD","CcyNm_RU":"\u0414\u043e\u043b\u043b\u0430\u0440
        \u0421\u0428\u0410","CcyNm_UZ":"AQSH dollari","CcyNm_UZC":"\u0410\u049a\u0428
        \u0434\u043e\u043b\u043b\u0430\u0440\u0438","CcyNm_EN":"US Dollar","Nominal":"1","Rate":"12194.21","Diff":"-16.5","Date":"01.04.2026"},{"id":21,"Code":"978","Ccy":"EUR","CcyNm_RU":"\u0415\u0432\u0440\u043e","CcyNm_UZ":"EVRO","CcyNm_UZC":"E\u0412\u0420\u041e","CcyNm_EN":"Euro","Nominal":"1","Rate":"13984.32","Diff":"-51.89","Date":"01.04.2026"},{"id":57,"Code":"643","Ccy":"RUB","CcyNm_RU":"\u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u0438\u0439
        \u0440\u0443\u0431\u043b\u044c","CcyNm_UZ":"Rossiya rubli","CcyNm_UZC":"\u0420\u043e\u0441\u0441\u0438\u044f
        \u0440\u0443\u0431\u043b\u0438","CcyNm_EN":[...]
[...]
