---
http_interactions:
- request:
    method: get
    uri: https://www.cbvs.sr/statistieken/financiele-markten-statistieken/dagelijkse-publicaties
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Wed, 09 Sep 2026 13:08:46 GMT
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"nl-nl\"
        lang=\"nl-nl\" dir=\"ltr\">\n<head>\n\t<!--<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=EmulateIE7\" />-->\n\n\t<meta charset=\"utf-8\">\n\t<meta name=\"description\"
        content=\"De Centrale Bank van Suriname is binnen de Surinaamse economie enig
        in haar soort en kan niet zonder meer vergeleken worden met op commerciële
        leest geschoeide banken.\">\n\t<meta name=\"generator\" content=\"Joomla!
        - Open Source Content Management\">\n\t<title>Dagelijkse publicaties - Centrale
        Bank van Suriname</title>\n\t<link href=\"/statistieken/financiele-markten-statistieken/dagelijkse-publicaties?format=feed&amp;type=rss\"
        rel=\"alternate\" type=\"application/rss+xml\" title=\"Dagelijkse publicaties
        - Centrale Bank van Suriname\">\n\t<link href=\"/statistieken/financiele-markten-statistieken/dagelijkse-publicaties?format=feed&amp;type=atom\"
        rel=\"alternate\" type=\"application/atom+xml\" title=\"Dagelijkse publicaties
        - Centrale Bank van Suriname\">\n\t<link href=\"/favicon.ico\" rel=\"icon\"
        type=\"image/vnd.microsoft.icon\">\n<link href=\"/media/mod_languages/css/template.min.css?d2ff8d\"
        rel=\"stylesheet\">\n\t<link href=\"/media/vendor/joomla-custom-elements/css/joomla-alert.min.css?0.4.1\"
        rel=\"stylesheet\">\n\t<link href=\"/modules/mod_djmegamenu/themes/classic/css/djmegamenu.css?4.4.1.free\"
        rel=\"stylesheet\">\n\t<link href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.min.css\"
        rel=\"stylesheet\">\n\t<link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\"
        rel=\"stylesheet\">\n\t<style>.dj-hideitem { display: none !important; }\n</style>\n<script
        src=\"/media/vendor/jquery/js/jquery.min.js?3.7.1\"></script>\n\t<script src=\"/media/legacy/js/jquery-noconflict.min.js?504da4\"></script>\n\t<script
        type=\"application/json\" class=\"joomla-script-options new\">{\"joomla.jtext\":{\"MOD_FINDER_SEARCH_VALUE\":\"Zoeken
        &hellip;\",\"ERROR\":\"Fout\",\"MESSAGE\":\"Bericht\",\"NOTICE\":\"Attentie\",\"WARNING\":\"Waarschuwing\",\"JCLOSE\":\"Sluiten\",\"JOK\":\"Ok\",\"JOPEN\":\"Open\"},\"system.paths\":{\"root\":\"\",\"rootFull\":\"https:\\/\\/www.cbvs.sr\\/\",\"base\":\"\",\"baseFull\":\"https:\\/\\/www.cbvs.sr\\/\"},\"csrf.token\":\"a3ade024f9d6bf79f7edf2bfa31609d4\"}</script>\n\t<script
        src=\"/media/system/js/core.min.js?2cb912\"></script>\n\t<script src=\"/media/com_finder/js/finder.min.js?755761\"
        type=\"module\"></script>\n\t<script src=\"/media/mod_menu/js/menu.min.js?d2ff8d\"
        type=\"module\"></script>\n\t<script src=\"/media/system/js/messages.min.js?9a4811\"
        type=\"module\"></script>\n\t<script src=\"/modules/mod_djmegamenu/assets/js/jquery.djmegamenu.min.js?4.4.1.free\"
        defer></script>\n\t<script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"BreadcrumbList\",\"@id\":\"https://www.cbvs.sr/#/schema/BreadcrumbList/115\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"item\":{\"@id\":\"https://www.cbvs.sr/\",\"name\":\"Startpagina\"}},{\"@type\":\"ListItem\",\"position\":2,\"item\":{\"@id\":\"https://www.cbvs.sr/statistieken/financiele-markten-statistieken/dagelijkse-publicaties\",\"name\":\"Dagelijkse
        publicaties\"}}]}</script>\n\t<link rel=\"stylesheet preload\" href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.compat.min.css\"
        as=\"style\">\n\t<link rel=\"stylesheet preload\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\"
 [...]
- request:
    method: get
    uri: https://www.cbvs.sr/images/content/publicaties/Wisselkoersen/2026/DO260907%2015.00%20uur.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 07 Sep 2026 18:12:32 GMT
      Etag:
      - '"17d57-65ae88fdfc42a"'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFuZyhubCkgL1N0cnVjdFRyZWVSb290IDEyIDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4vTWV0YWRhdGEgMzUzIDAgUi9WaWV3ZXJQcmVmZXJlbmNlcyAzNTQgMCBSPj4NCmVuZG9iag0KMiAwIG9iag0KPDwvVHlwZS9QYWdlcy9Db3VudCAxL0tpZHNbIDQgMCBSXSA+Pg0KZW5kb2JqDQozIDAgb2JqDQo8PC9BdXRob3IoY2thc21vKSAvQ3JlYXRpb25EYXRlKEQ6MjAyNjA5MDcxNTA1NTAtMDMnMDAnKSAvTW9kRGF0ZShEO[...]
[...]
