---
http_interactions:
- request:
    method: post
    uri: https://www.chinamoney.com.cn/ags/ms/cm-u-bk-ccpr/CcprHisNew?currency=&endDate=2026-09-04&pageNum=1&pageSize=50&startDate=2026-09-01
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"head":{"version":"2.0","provider":"CWAP","req_code":"","rep_code":"200","rep_message":"","ts":1788951512381,"producer":"","tstext":"2026-09-09
        18:58:32"},"data":{"head":["USD/CNY","EUR/CNY","100JPY/CNY","HKD/CNY","GBP/CNY","AUD/CNY","NZD/CNY","SGD/CNY","CHF/CNY","CAD/CNY","CNY/MOP","CNY/MYR","CNY/RUB","CNY/ZAR","CNY/KRW","CNY/AED","CNY/SAR","CNY/HUF","CNY/PLN","CNY/DKK","CNY/SEK","CNY/NOK","CNY/TRY","CNY/MXN","CNY/THB"],"total":4,"pageTotal":1,"searchlist":["USD/CNY","EUR/CNY","100JPY/CNY","HKD/CNY","GBP/CNY","AUD/CNY","NZD/CNY","SGD/CNY","CHF/CNY","CAD/CNY","CNY/MOP","CNY/MYR","CNY/RUB","CNY/ZAR","CNY/KRW","CNY/AED","CNY/SAR","CNY/HUF","CNY/PLN","CNY/DKK","CNY/SEK","CNY/NOK","CNY/TRY","CNY/MXN","CNY/THB"],"endDate":"2026-09-04","pageSize":50,"currency":"","pageNum":1,"flagMessage":"","startDate":"2026-09-01"},"records":[{"date":"2026-09-04","values":["6.7787","7.8397","4.3135","0.86458","9.1195","4.8487","3.9627","5.3227","8.3501","4.8849","1.1919","0.59784","12.9025","2.3708","202.07","0.54515","0.55733","46.0672","0.55013","0.9536","1.4155","1.3799","7.17587","2.5029","4.8918"]},{"date":"2026-09-03","values":["6.7807","7.8208","4.2495","0.86476","9.1004","4.8344","3.9483","5.3119","8.3077","4.8716","1.1917","0.59756","13.0294","2.3780","202.29","0.54457","0.55673","46.9394","0.55267","0.9560","1.4277","1.3822","7.15458","2.5104","4.9282"]},{"date":"2026-09-02","values":["6.7829","7.8267","4.2218","0.86497","9.1278","4.8246","3.9789","5.3050","8.3256","4.8572","1.1914","0.59714","12.9108","2.3919","203.97","0.54417","0.55628","46.9837","0.55291","0.9550","1.4251","1.3825","7.14733","2.5109","4.9421"]},{"date":"2026-09-01","values":["6.7809","7.8406","4.2301","0.86498","9.1431","4.8373","3.9928","5.3115","8.3532","4.8687","1.1914","0.59617","12.8255","2.3854","203.49","0.54456","0.55670","46.4907","0.55107","0.9534","1.4202","1.3854","7.14872","2.5127","4.9238"]}]}'
  recorded_at: Wed, 09 Sep 2026 10:58:32 GMT
[...]
