---
http_interactions:
- request:
    method: get
    uri: https://api.cnb.cz/cnbapi/exrates/daily?date=2026-03-16&lang=EN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rates":[{"validFor":"2026-03-16","order":52,"country":"Australia","currency":"dollar","amount":1,"currencyCode":"AUD","rate":15.018},{"validFor":"2026-03-16","order":52,"country":"Brazil","currency":"real","amount":1,"currencyCode":"BRL","rate":4.042},{"validFor":"2026-03-16","order":52,"country":"Canada","currency":"dollar","amount":1,"currencyCode":"CAD","rate":15.559},{"validFor":"2026-03-16","order":52,"country":"China","currency":"renminbi","amount":1,"currencyCode":"CNY","rate":3.087},{"validFor":"2026-03-16","order":52,"country":"Denmark","currency":"krone","amount":1,"currencyCode":"DKK","rate":3.270},{"validF[...]
[...]
