---
http_interactions:
- request:
    method: get
    uri: https://api.cnb.cz/cnbapi/exrates/daily-year?lang=EN&year=2026
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rates":[{"currencyCode":"AUD","amount":1,"validFor":"2026-01-02","rate":13.797},{"currencyCode":"BRL","amount":1,"validFor":"2026-01-02","rate":3.789},{"currencyCode":"CAD","amount":1,"validFor":"2026-01-02","rate":15.014},{"currencyCode":"CHF","amount":1,"validFor":"2026-01-02","rate":25.997},{"currencyCode":"CNY","amount":1,"validFor":"2026-01-02","rate":2.947},{"currencyCode":"DKK","amount":1,"validFor":"2026-01-02","rate":3.236},{"currencyCode":"EUR","amount":1,"validFor":"2026-01-02","rate":24.170},{"currencyCode":"GBP","amount":1,"validFor":"2026-01-02","rate"[...]
