---
http_interactions:
- request:
    method: post
    uri: https://api.statbank.dk/v1/data
    body:
      encoding: UTF-8
      string: '{"table":"DNVALD","format":"BULK","lang":"en","valuePresentation":"Code","variables":[{"code":"VALUTA","values":["EUR","USD","GBP","SEK","NOK","CHF","CAD","JPY","AUD","NZD","PLN","CZK","HUF","HKD","SGD","ZAR","BGN","RON","TRY","KRW","THB","MYR","PHP","IDR","CNY","BRL","MXN","INR","ILS","ISK"]},{"code":"KURTYP","values":["KBH"]},{"code":"Tid","values":[">=2025M03D03"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv; charset=utf-8
      Statbankapi-Request-Id:
      - 380b6781-e30f-4bc3-8d6e-c093d3f4740f
      Content-Disposition:
      - attachment; filename=DNVALD.csv
    body:
      encoding: UTF-8
      string: "VALUTA;KURTYP;TID;INDHOLD\r\nAUD;KBH;2025M07D08;416.2300\r\nBGN;KBH;2025M07D08;381.4800\r\nBRL;KBH;2025M07D08;116.5200\r\nCAD;KBH;2025M07D08;466.1300\r\nCHF;KBH;2025M07D08;797.8700\r\nCNY;KBH;2025M07D08;88.7500\r\nCZK;KBH;2025M07D08;30.2700\r\nEUR;KBH;2025M07D08;746.0900\r\nGBP;KBH;2025M07D08;864.3300\r\nHKD;KBH;2025M07D08;81.1100\r\nHUF;KBH;2025M07D08;1.8680\r\nIDR;KBH;2025M07D08;0.0391\r\nILS;KBH;2025M07D08[...]
