---
http_interactions:
- request:
    method: post
    uri: https://api.statbank.dk/v1/data
    body:
      encoding: UTF-8
      string: '{"table":"DNVALD","format":"BULK","lang":"en","valuePresentation":"Code","variables":[{"code":"VALUTA","values":["EUR","USD","GBP","SEK","NOK","CHF","CAD","JPY","AUD","NZD","PLN","CZK","HUF","HKD","SGD","ZAR","BGN","RON","TRY","KRW","THB","MYR","PHP","IDR","CNY","BRL","MXN","INR","ILS","ISK","ATS","BEF","DEM","ESP","FIM","FRF","GRD","IEP","ITL","NLG","PTE","SIT","ROL","TRL"]},{"code":"KURTYP","values":["KBH"]},{"code":"Tid","values":[">=1977M01D03<=1977M01D07"]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv; charset=utf-8
      Statbankapi-Request-Id:
      - 874e73de-3ec7-4f2c-8986-698af5725008
      Content-Disposition:
      - attachment; filename=DNVALD.csv
    body:
      encoding: UTF-8
      string: "VALUTA;KURTYP;TID;INDHOLD\r\nATS;KBH;1977M01D03;..\r\nAUD;KBH;1977M01D03;..\r\nBEF;KBH;1977M01D03;..\r\nBGN;KBH;1977M01D03;..\r\nBRL;KBH;1977M01D03;..\r\nCAD;KBH;1977M01D03;..\r\nCHF;KBH;1977M01D03;..\r\nCNY;KBH;1977M01D03;..\r\nCZK;KBH;1977M01D03;..\r\nDEM;KBH;1977M01D03;..\r\nESP;KBH;1977M01D03;..\r\nEUR;KBH;1977M01D03;..\r\nFIM;KBH;1977M01D03;..\r\nFRF;KBH;1977M01D03;..\r\nGBP;KBH;1977M01D03;..\r\nGRD;KBH;[...]
