---
http_interactions:
- request:
    method: get
    uri: https://www.fbil.org.in/wasdm/refrates/fetchfiltered?authenticated=false&fromDate=2026-03-17&toDate=2026-03-21
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"processRunDate":"2026-03-20 00:00:00","subProdName":"INR / 1 USD","displayTime":"2026-03-20
        13:00:00","rate":93.348300,"comments":""},{"processRunDate":"2026-03-20 00:00:00","subProdName":"INR
        / 1 GBP","displayTime":"2026-03-20 13:00:00","rate":125.156400,"comments":""},{"processRunDate":"2026-03-20
        00:00:00","subProdName":"INR / 1 EUR","displayTime":"2026-03-20 13:00:00","rate":107.943600,"comments":""},{"processRunDate":"2026-03-20
        00:00:00","subProdName":"INR / 100 JPY","displayTime":"2026-03-20 13:00:00","rate":58.940000,"comments":""},{"processRunDate":"2026-03-20
        00:00:00","subProdName[...]
