---
http_interactions:
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXBZUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:16 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":10,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-02","value":"5.1901"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-03","value":"5.2732"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-04","value":"5.2125"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-05","value":"5.2585"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-06","value":"5.2698"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-09","value":"5.2099"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-10","value":"5.1405"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-11","value":"5.157"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-12","value":"5.214"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-13","value":"5.2914"}]}'
  recorded_at: Thu, 19 Mar 2026 14:08:18 GMT
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXCAUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Upgrade:
      - h2,h2c
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:20 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":10,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-02","value":"1.3705"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-03","value":"1.3662"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-04","value":"1.3661"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-05","value":"1.3693"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-06","value":"1.3599"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-09","value":"1.3573"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-10","value":"1.3562"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-11","value":"1.3603"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-12","value":"1.3618"},{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","date":"2026-03-13","value":"1.3736"}]}'
  recorded_at: Thu, 19 Mar 2026 14:08:18 GMT
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXCHUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:32 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXDNUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:34 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXHKUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:34 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXINUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:23 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXJPUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Upgrade:
      - h2,h2c
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:18 GMT
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXKOUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:20 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXMAUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Upgrade:
      - h2,h2c
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:15 GMT
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXMXUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:22 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXNOUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:23 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSDUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:21 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSFUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:22 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSIUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:28 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSLUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:19:42 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSZUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:24 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXTAUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:19:47 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXTHUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:39 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSAL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:59 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSEU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:30 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSNZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:21:34 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Mar 2026 20:20:47 GMT
    body:
      encoding: UTF-8
      string: '{"realtime_start":"2026-0[...]
