---
http_interactions:
- request:
    method: get
    uri: https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/er-ir/er-eeri-daily?offset=0&pagesize=100&sortby=end_of_day&sortorder=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"success":true,"err_code":"0000","err_msg":"No error found"},"result":{"datasize":100,"records":[{"end_of_day":"2026-02-28","usd":7.8245000000000005,"gbp":10.549,"jpy":0.05012,"cad":5.7355,"aud":5.5855,"sgd":6.1855,"twd":0.255,"chf":10.169,"cny":1.14015,"krw":0.005433,"thb":0.25235,"myr":2.01045,"dem":null,"nlg":null,"bef":null,"frf":null,"itl":null,"eur":9.245,"php":0.1345,"inr":0.0855,"idr":0.0004666,"zar":0.4915,"special_drawing_rights":null,"neeri_1983_trade_wgt":null,"neeri_1983_import_wgt":null,"neeri_1983_export_wgt":null,"neeri_2000_trade_wgt":null,"neeri_2000_import_wgt":null,"neeri_2000_export_wgt":null,"neeri_2010_trade_wgt":null,"neeri_2010_import_wgt":null,"neeri_2010_export_wgt":null,"neeri_2020_trade_wgt":101.2,"neeri_2020_import_wgt":101.8,"neeri_2020_export_wgt":100.5},{"end_of_day":"2026-02-27","usd":7.825,"gbp":10.536,"jpy":0.05015,"cad":5.7235,"aud":5.574,"sgd":6.188,"twd":0.255,"chf":10.1195,"cny":1.1417,"krw":0.005433,"thb":0.25235,"myr":2.0116,"dem":null,"nlg":null,"bef":null,"frf":null,"itl":null,"eur":9.236,"php":0.1345,"inr":0.0855,"idr":0.0004666,"zar":0.492,"special_drawing_rights":10.75757525,"neeri_1983_trade_wgt":null,"neeri_1983_import_wgt":null,"neeri_1983_export_wgt":null,"neeri_2000_trade_wgt":null,"neeri_2000_import_wgt":null,"neeri_2[...]
