---
http_interactions:
- request:
    method: get
    uri: https://www.lb.lt/webservices/FxRates/FxRates.asmx/getFxRates?dt=2014-12-29&tp=LT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<FxRates xmlns=\"http://www.lb.lt/WebServices/FxRates\">\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>2014-12-29</Dt>\r\n    <CcyAmt>\r\n
        \     <Ccy>LTL</Ccy>\r\n      <Amt>7.6881</Amt>\r\n    </CcyAmt>\r\n    <CcyAmt>\r\n
        \     <Ccy>AED</Ccy>\r\n      <Amt>10</Amt>\r\n    </CcyAmt>\r\n  </FxRate>\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>2014-12-29</Dt>\r\n    <CcyAmt>\r\n
        \     <Ccy>LTL</Ccy>\r\n      <Amt>4.8611</Amt>\r\n    </CcyAmt>\r\n    <CcyAmt>\r\n
        \     <Ccy>AFN</Ccy>\r\n      <Amt>100</Amt>\r\n    </CcyAmt>\r\n  </FxRate>\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>2014-12-29</Dt>\r\n    <CcyAmt>\r\n
        \ [...]
[...]
