---
http_interactions:
- request:
    method: get
    uri: https://www.lb.lt/webservices/FxRates/FxRates.asmx/getFxRates?dt=1994-08-19&tp=LT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<FxRates xmlns=\"http://www.lb.lt/WebServices/FxRates\">\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>1994-08-19</Dt>\r\n    <CcyAmt>\r\n
        \     <Ccy>LTL</Ccy>\r\n      <Amt>0.0125</Amt>\r\n    </CcyAmt>\r\n    <CcyAmt>\r\n
        \     <Ccy>AMD</Ccy>\r\n      <Amt>1</Amt>\r\n    </CcyAmt>\r\n  </FxRate>\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>1994-08-19</Dt>\r\n    <CcyAmt>\r\n
        \     <Ccy>LTL</Ccy>\r\n      <Amt>0.3662</Amt>\r\n    </CcyAmt>\r\n    <CcyAmt>\r\n
        \     <Ccy>ATS</Ccy>\r\n      <Amt>1</Amt>\r\n    </CcyAmt>\r\n  </FxRate>\r\n
        \ <FxRate>\r\n    <Tp>LT</Tp>\r\n    <Dt>1994-08-19</Dt>\r\n    <CcyAmt>\r\n
        \    [...]
[...]
