---
http_interactions:
- request:
    method: get
    uri: https://eservices.mas.gov.sg/api/action/datastore/search.json?between%5Bend_of_day%5D=2026-03-16,2026-03-24&limit=10000&resource_id=95932927-c8bc-4e7a-b484-68a66a24edfe&sort=end_of_day%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"result":{"resource_id":["95932927-c8bc-4e7a-b484-68a66a24edfe"],"limit":10000,"total":"7","records":[{"end_of_day":"2026-03-16","preliminary":"0","eur_sgd":"1.4567","gbp_sgd":"1.7234","usd_sgd":"1.3456","jpy_sgd_100":"0.8912","aud_sgd":"0.8523","cad_sgd":"0.9412","chf_sgd":"1.5123","cny_sgd_100":"18.5432","hkd_sgd_100":"17.2345","inr_sgd_100":"1.5987","krw_sgd_100":"0.0987","myr_sgd_100":"30.1234","nzd_sgd":"0.7891","php_sgd_100":"2.3456","thb_sgd_100":"3.8765","twd_sgd_100":"4.1234","aed_sgd_100":"36.6543","idr_sgd_100":"0.0082","qar_sgd_100":"36.9512","sar_sgd_100":"35.8765","vnd_sgd_100":"0.0054","timestamp":"1742140800"},{"end_of_day":"2026-03-17","preliminary":"0","eur_sgd":"1.4589","gbp_sgd":"1.7256","usd_sgd":"1.3478","jpy_sgd_100":"0.8934","aud_sgd":"0.8545","cad_sgd":"0.9434","chf_sgd":"1.5145","cny_sgd_100":"18.5654","hkd_sgd_100":"17.2567","inr_sgd_100":"1.6009","krw_sgd_100":"0.0989","myr_sgd_100":"30.1456","nzd_sgd":"0.7913","php_sgd_100":"2.3478","thb_sgd_100":"3.8787","twd_sgd_100":"4.1256","aed_sgd_100":"36.6765","idr_sgd_100":"0.0083","qar_sgd_100":"36.9734","sar_sgd_100":"35.8987","vn[...]
