---
http_interactions:
- request:
    method: post
    uri: http://www.mnb.hu/arfolyamok.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
                       xmlns:web="http://www.mnb.hu/webservices/">
          <soap:Body>
            <web:GetExchangeRates>
              <web:startDate>2025-03-24</web:startDate>
        <web:endDate>2025-03-28</web:endDate>
        <web:currencyNames>AUD,BRL,CAD,CHF,CNY,CZK,DKK,EUR,GBP,HKD,IDR,ILS,INR,ISK,JPY,KRW,MXN,MYR,NOK,NZD,PHP,PLN,RON,RSD,RUB,SEK,SGD,THB,TRY,UAH,USD,ZAR</web:currencyNames>
            </web:GetExchangeRates>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - http://www.mnb.hu/webservices/MNBArfolyamServiceSoap/GetExchangeRates
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetExchangeRatesResponse
        xmlns="http://www.mnb.hu/webservices/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><GetExchangeRatesResult>&lt;MNBExchangeRates&gt;&lt;Day
        date="2025-03-28"&gt;&lt;Rate unit="1" curr="AUD"&gt;235,26&lt;/Rate&gt;&lt;Rate
        unit="1" curr="BRL"&gt;65,09&lt;/Rate&gt;&lt;Rate unit="1" curr="CAD"&gt;260,85&lt;/Rate&gt;&lt;Rate
        unit="1" curr="CHF"&gt;423,43&lt;/Rate&gt;&lt;Rate unit="1" curr="CNY"&gt;51,46&lt;/Rate&gt;&lt;Rate
        unit="1" curr="CZK"&gt;16,13&lt;/Rate&gt;&lt;Rate unit="1" curr="DKK"&gt;53,96&lt;/Rate&gt;&lt;Rate
        unit="1" curr="EUR"&gt;402,61&lt;/Rate&gt;&lt[...]
