---
http_interactions:
- request:
    method: get
    uri: https://api.nbe.gov.et/api/filter-exchange-rates?date=2026-05-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":"OK","status":200,"data":[{"id":"01krwrntc5qsfps1a0fkff8yfr","currency_id":"01hccadrapzdjbbxb2pgdgfkbp","buying":"0.9915","selling":"1.0014","date":"2026-05-18","weighted_average":"0.9965","currency":{"id":"01hccadrapzdjbbxb2pgdgfkbp","name":"JAPANESE
        YEN","code":"JPY"}},{"id":"01krwrntegw1mj4nmmwqgzcm7t","currency_id":"01hccadraxrgm2gyc039fnt6dd","buying":"513.1418","selling":"518.2732","date":"2026-05-18","weighted_average":"515.7075","currency":{"id":"01hccadraxrgm2gyc039fnt6dd","name":"KUWAITI
        DINAR","code":"KWD"}},{"id":"01krwrnte7hzk36d4zff687fak","currency_id":"01hccadraw6qj2h560vdnzvv07","buying":"23.0856","selling":"23.3165","date":"2026-05-18","weighted_average":"23.2011","currency":{"id":"01hccadraw6qj2h56[...]
[...]
