---
http_interactions:
- request:
    method: get
    uri: https://www.nbkr.kg/XML/daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Etag:
      - W/"530-1779443946000"
      Last-Modified:
      - Fri, 22 May 2026 09:59:06 GMT
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="windows-1251" ?>
        <CurrencyRates Name="Daily Exchange Rates" Date="23.05.2026">
        <Currency ISOCode="USD">
        <Nominal>1</Nominal>
        <Value>87,4500</Value>
        </Currency>
        <Currency ISOCode="EUR">
        <Nominal>1</Nominal>
        <Value>101,5076</Value>
        </Currency>
        <Currency ISOCode="CNY">
        <Nominal>1</Nominal>
        <Value>12,8707</Value>
        </Currency>
        <Currency ISOCode="KZT">
        <Nominal>1</Nominal>
        <Value>0,1859</Value>
        </Currency>
        <Currency ISOCode="RUB">
        <Nominal>1</Nominal>
        <Value>1,2263</Value>
        </Currency>
        </CurrencyRates>
  recorded_at: Fri, 22 May 2026 12:59:14 GMT
- request:
    method: get
    uri: https://www.nbkr.kg/XML/weekly.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Etag:
      - W/"4279-1779443945000"
      Last-Modified:
      - Fri, 22 May 2026 09:59:05 GMT
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="windows-1251" ?>
        <CurrencyRates Name="Weekly Exchange Rates" Date="23.05.2026">
        <Currency ISOCode="GBP">
        <Nominal>1</Nominal>
        <ValidFor>7</ValidFor>
        <Value>117,4147</Value>
        </Currency>
        <Currency ISOCode="DKK">
        <Nominal>1</Nominal>
        <ValidFor>7</ValidFor>
        <Value>13,5839</Value>
        </Currency>
        <Currency ISOCode="INR">
        <Nominal>1</Nominal>
        <ValidFor>7</ValidFor>
        <Value>0,9117</Value>
        </Currency>
        <Currency ISOCode="CAD">
        <Nominal>1</Nominal>
        <ValidFor>7</ValidFor>
        <Value>63,4385</Value>
        </Currency>
    [...]
