---
http_interactions:
- request:
    method: get
    uri: https://www.bnm.md/en/official_exchange_rates?date=06.04.2026&get_xml=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ValCurs Date="06.04.2026" name="Official exchange rate">
          <Valute ID="47">
            <NumCode>978</NumCode>
            <CharCode>EUR</CharCode>
            <Nominal>1</Nominal>
            <Name>Euro</Name>
            <Value>20.2754</Value>
          </Valute>
          <Valute ID="44">
            <NumCode>840</NumCode>
            <CharCode>USD</CharCode>
            <Nominal>1</Nominal>
            <Name>US Dollar</Name>
            <Value>17.6124</Value>
          </Valute>
          <Valute ID="36">
            <NumCode>643</NumCode>
            <CharCode>RUB</CharCode>
            <Nominal>1</Nominal>
            <Name>Russian Ruble</Name>
            <Value>0.2197</Value>
          </Valute>
          <Valute[...]
[...]
