---
http_interactions:
- request:
    method: get
    uri: https://api.nbrb.by/exrates/currencies
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AipD9gD_qVvCL19j8dBWEwSgCeM"'
    body:
      encoding: UTF-8
      string: '[{"Cur_ID":1,"Cur_ParentID":1,"Cur_Code":"008","Cur_Abbreviation":"ALL","Cur_Name":"Албанский
        лек","Cur_Name_Bel":"Албанскі лек","Cur_Name_Eng":"Albanian Lek","Cur_QuotName":"1
        Албанский лек","Cur_QuotName_Bel":"1 Албанскі лек","Cur_QuotName_Eng":"1 Albanian
        Lek","Cur_NameMulti":"","Cur_Name_BelMulti":"","Cur_Name_EngMulti":"","Cur_Scale":1,"Cur_Periodicity":1,"Cur_DateStart":"1991-01-01T00:00:00","Cur_DateEnd":"2007-11-30T00:00:00"},{"Cur_ID":2,"Cur_ParentID":2,"Cur_Code":"012","Cur_Abbreviation":"DZD","Cur_Name":"Алжирский
        динар","Cur_Name_Bel":"Алжырскі дынар","Cur_Name_Eng":"Algerian Dinar","Cur_QuotName":"1
        Алжирский динар","Cur_QuotName_Bel":"1 Алжырскі дынар","Cur_QuotName_Eng":"1
        Algerian Dinar","Cur_NameMulti":"","Cur_Name_BelMulti":"","Cur_Name_EngMulti":"","Cur_Scale":1,"Cur_Periodicity":1,"Cur_DateStart":"1991-01-01T00:00:00","Cur_DateEnd":"2016-06-30T00:00:00"},{"Cu[...]
- request:
    method: get
    uri: https://api.nbrb.by/exrates/rates/dynamics/23?endDate=2021-07-08&startDate=2021-07-05
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ZWWdXJT86m4Ivaz5UvDqULZzvBo"'
    body:
      encoding: UTF-8
      string: '[{"Cur_ID":23,"Date":"2021-07-05T00:00:00","Cur_OfficialRate":2.0462},{"Cur_ID":23,"Date":"2021-07-06T00:00:00","Cur_OfficialRate":2.0536},{"Cur_ID":23,"Date":"2021-07-07T00:00:00","Cur_OfficialRate":2.0508},{"Cur_ID":23,"Date":"2021-07-08T00:00:00","Cur_OfficialRate":2.0548}]'
  recorded_at: Thu, 01 Oct 2026 19:14:43 GMT
[...]
- request:
    method: get
    uri: https://api.nbrb.by/exrates/rates/dynamics/306?endDate=2016-07-05&startDate=2016-07-01
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"sJrC9J0rosIYt96GvcPRNQb0lFA"'
    body:
      encoding: UTF-8
      string: '[{"Cur_ID":306,"Date":"2016-07-01T00:00:00","Cur_OfficialRate":2.3561},{"Cur_ID":306,"Date":"2016-07-02T00:00:00","Cur_OfficialRate":2.3561},{"Cur_ID":306,"Date":"2016-07-03T00:00:00","Cur_OfficialRate":2.3561},{"Cur_ID":306,"Date":"2016-07-04T00:00:00","Cur_OfficialRate":2.3561},{"Cur_ID":306,"Date":"2016-07-05T00:00:00","Cur_OfficialRate":2.3653}]'
  recorded_at: Thu, 01 Oct 2026 19:15:10 GMT
recorded_with: VCR 6.4.0
