---
http_interactions:
- request:
    method: get
    uri: https://www.nbrm.mk/KLServiceNOV/GetExchangeRate?EndDate=29.05.2026&StartDate=01.03.2026&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sucuri-Id:
      - '21017'
      X-Sucuri-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '[{"rBr":39,"datum":"2026-03-01T00:00:00","valuta":"978","oznaka":"EUR","drzava":"ЕМУ","nomin":1,"sreden":61.6948,"drzavaAng":"EMU","drzavaAl":"UEM","nazivMak":"евро","nazivAng":"Euro","nazivAl":"Euro","datum_f":"2026-02-27T00:00:00"},{"rBr":39,"datum":"2026-03-01T00:00:00","valuta":"840","oznaka":"USD","drzava":"С
        А Д","nomin":1,"sreden":52.2616,"drzavaAng":"USA","drzavaAl":"SHBA","nazivMak":"САД
        долар","nazivAng":"US dollar","nazivAl":"Dollari Amerikan","datum_f":"2026-02-27T00:00:00"},{"rBr":39,"datum":"2026-03-01T00:00:00","valuta":"826","oznaka":"GBP","drzava":"В.Британија","nomin":1,"sreden":70.4037,"drzavaAng":"U.K.","drzavaAl":"Britania
        e Madhe","nazivMak":"британска фунт[...]
[...]
