---
http_interactions:
- request:
    method: get
    uri: https://www.nbt.tj/en/kurs/export_xml.php?date=2026-05-18&export=xmlout
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Powered-Cms:
      - Bitrix Site Manager (bcb617a7178c20f1a827d352fd7bef2b)
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <ValCurs Date="2026-05-18" name="Foreign Currency Market">
        <Valute ID="840">
           <CharCode>USD</CharCode>
           <Nominal>1</Nominal>
           <Name>US Dollar</Name>
           <Value>9.3450</Value>
        </Valute>
        <Valute ID="978">
           <CharCode>EUR</CharCode>
           <Nominal>1</Nominal>
           <Name>EURO</Name>
           <Value>10.8757</Value>
        </Valute>
        <Valute ID="156">
           <CharCode>CNY</CharCode>
           <Nominal>1</Nominal>
           <Name>Chinese Yuan</Name>
           <Value>1.3724</Value>
        </Valute>
        <Valute ID="756">
           <CharCode>CHF</CharCode>
           <Nominal>1</Nominal>
           <Name[...]
[...]
