---
http_interactions:
- request:
    method: get
    uri: https://www.nrb.org.np/api/forex/v1/rates?from=2026-04-01&page=1&per_page=100&to=2026-04-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"code":200},"errors":{"validation":null},"params":{"date":null,"from":"2026-04-01","to":"2026-04-05","post_type":null,"per_page":"100","page":"1","slug":null,"q":null},"data":{"payload":[{"date":"2026-04-01","published_on":"2026-04-01 00:00:13","modified_on":"2026-03-31 17:18:39","rates":[{"currency":{"iso3":"INR","name":"Indian Rupee","unit":100},"buy":"160.00","sell":"160.15"},{"currency":{"iso3":"USD","name":"U.S. Dollar","unit":1},"buy":"151.44","sell":"152.04"},{"currency":{"iso3":"EUR","name":"European Euro","unit":1},"buy":"173.69","sell":"174.38"},{"currency":{"iso3":"GBP","name":"UK Pound Sterling","unit":1},"buy":"200.06","sell":"200.85"},{"currency":{"iso3":"CHF","name":"Swiss Franc","unit":1},"buy":"189.18","sell":"189.93"},{"currency":{"iso3":"AUD","name":"Australian Dollar","unit":1},"buy":"104.10","sell":"104.51"},{"currency":{"iso3":"CAD","name[...]
