---
http_interactions:
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCX135D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"Rand per US Dollar","Description":"Weighted
        average of the banks'' daily rates at approximately 10:30 am. Weights are
        based on the banks'' foreign exchange transactions.","Value":17.1302,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-26T00:00:00","Timeseries":"Rand
        per US Dollar","Description":"Weighted average of the banks'' daily rates
        at approximately 10:30 am. Weights are based on the banks'' foreign exchange
        transactions.","Value":17.0435,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-25T00:00:00","Timeseries":"Rand
        per US Dollar","Description":"Weighted average of the banks'' daily rates
        at approximately 10:30 am. Weights are based on the banks'' foreign exchange
        transactions.","Value":16.8643,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-24T00:00:00","Timeseries":"Rand
        per US Dollar","Description":"Weighted average of the banks'' daily rates
        at approximately 10:30 am. Weights are based on the banks'' foreign exchange
        transactions.","Value":16.9333,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"}]'
  recorded_at: Sun, 05 Apr 2026 00:34:09 GMT
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCZ001D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"Rand per British Pound","Description":[...]
[...]
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCB080D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"Australia: Dollar per
        Rand","D[...]
[...]
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCB122D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"Hong Kong: Dollar per
        Rand","Description":"Weighted average of the banks daily rates at approximately
        10:30 am. Weights are based on the banks foreign exchange transactions.","Value":0.4573,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-26T00:00:00","Timeseries":"Hong
        Kong: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.4590,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-25T00:00:00","Timeseries":"Hong
        Kong: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.4637,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-24T00:00:00","Timeseries":"Hong
        Kong: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.4626,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"}]'
  recorded_at: Sun, 05 Apr 2026 00:34:16 GMT
[...]
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCB081D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"New Zealand: Dollar
        per Rand","Description":"Weighted average of the banks daily rates at approximately
        10:30 am. Weights are based on the banks foreign exchange transactions.","Value":0.1011,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-26T00:00:00","Timeseries":"New
        Zealand: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.1014,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-25T00:00:00","Timeseries":"New
        Zealand: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.1017,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-24T00:00:00","Timeseries":"New
        Zealand: Dollar per Rand","Description":"Weighted average of the banks daily
        rates at approximately 10:30 am. Weights are based on the banks foreign exchange
        transactions.","Value":0.1013,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"}]'
  recorded_at: Sun, 05 Apr 2026 00:34:20 GMT
[...]
- request:
    method: get
    uri: https://custom.resbank.co.za/SarbWebApi/WebIndicators/Shared/GetTimeseriesObservations/EXCB118D/2026-03-23T00:00:00/2026-03-27T00:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Period":"2026-03-27T00:00:00","Timeseries":"South Korea: Won per
        Rand","Description":"Weighted average of daily rates at approximately 10:30
        am.","Value":87.9759,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-26T00:00:00","Timeseries":"South
        Korea: Won per Rand","Description":"Weighted average of daily rates at approximately
        10:30 am.","Value":88.3183,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-25T00:00:00","Timeseries":"South
        Korea: Won per Rand","Description":"Weighted average of daily rates at approximately
        10:30 am.","Value":88.8493,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"},{"Period":"2026-03-24T00:00:00","Timeseries":"South
        Korea: Won per Rand","Description":"Weighted average of daily rates at approximately
        10:30 am.","Value":88.3794,"FormatNumber":"0.0000","FormatDate":"yyyy-MM-dd"}]'
  recorded_at: Sun, 05 Apr 2026 00:34:26 GMT
recorded_with: VCR 6.4.0
