---
http_interactions:
- request:
    method: get
    uri: https://api.sedlabanki.is/ExchangeRate/GetExchangeRatesByDate?date=2026-03-02&lang=en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"shortName":"USD","longName":"US dollar","buyingRate":null,"askingRate":null,"midRate":137.66,"units":1},{"shortName":"EUR","longName":"Euro","buyingRate":null,"askingRate":null,"midRate":149.87,"units":1},{"shortName":"GBP","longName":"Pound
        sterling","buyingRate":null,"askingRate":null,"midRate":176.14,"units":1},{"shortName":"DKK","longName":"Danish
        krone","buyingRate":null,"askingRate":null,"midRate":20.10,"units":1},{"shortName":"NOK","longName":"Norwegian
        krone","buyingRate":null,"askingRate":null,"midRate":12.41,"units":1},{"shortName":"SEK","longName":"Swedish
   [...]
[...]
