---
http_interactions:
- request:
    method: get
    uri: https://evds3.tcmb.gov.tr/igmevdsms-dis/series=TP.DK.AED.C.YTL-TP.DK.AUD.C.YTL-TP.DK.AZN.C.YTL-TP.DK.CAD.C.YTL-TP.DK.CHF.C.YTL-TP.DK.CNY.C.YTL-TP.DK.DKK.C.YTL-TP.DK.EUR.C.YTL-TP.DK.GBP.C.YTL-TP.DK.JPY.C.YTL-TP.DK.KRW.C.YTL-TP.DK.KWD.C.YTL-TP.DK.KZT.C.YTL-TP.DK.NOK.C.YTL-TP.DK.PKR.C.YTL-TP.DK.QAR.C.YTL-TP.DK.RON.C.YTL-TP.DK.RUB.C.YTL-TP.DK.SAR.C.YTL-TP.DK.SEK.C.YTL-TP.DK.USD.A.YTL-TP.DK.USD.S.YTL&startDate=01-03-2026&endDate=16-03-2026&type=json&frequency=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<TCMB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"totalCount":16,"items":[{"Tarih":"01-03-2026","TP_DK_AED_C_YTL":null,"TP_DK_AUD_C_YTL":null,"TP_DK_AZN_C_YTL":null,"TP_DK_CAD_C_YTL":null,"TP_DK_CHF_C_YTL":null,"TP_DK_CNY_C_YTL":null,"TP_DK_DKK_C_YTL":null,"TP_DK_EUR_C_YTL":null,"TP_DK_GBP_C_YTL":null,"TP_DK_JPY_C_YTL":null,"TP_DK_KRW_C_YTL":null,"TP_DK_KWD_C_YTL":null,"TP_DK_KZT_C_YTL":null,"TP_DK_NOK_C_YTL":null,"TP_DK_PKR_C_YTL":null,"TP_DK_QAR_C_YTL":null,"TP_DK_RON_C_YTL":null,"TP_DK_RUB_C_YTL":null,"TP_DK_SAR_C_YTL":null,"TP_DK_SEK_C_YTL":null,"TP_DK_USD_A_YTL":null,"TP_DK_USD_S_YTL":null,"UNIXTIME":{"$numberLong":"1772312400"}},{"Tarih":"02-03-2026","TP_DK_AED_C_YTL":"3.67260000","TP_DK_AUD_C_YTL":"1.40540000","TP_DK_AZN_C_YTL":"1.70000000","TP_DK_CAD_C_YTL":"1.36710000","TP_DK_CHF_C_YTL":"0.77280000","TP_DK_CNY_C_YTL":"6.85720000","TP_DK_DKK_C_YTL":"6.33020000","TP_DK_EUR_C_YTL":"1.18040000","TP_DK_GBP_C_YTL":"1.34800000","TP_DK_JPY_C_YTL":"156.01000000","TP_DK_KRW_C_YTL":"1440.00000000","TP_DK_KWD_C_YTL":"3.27330000","TP_DK_KZT_C_YTL":"497.99000000","TP_DK_NOK_C_YTL":"9.51760000","TP_DK_[...]
