---
http_interactions:
- request:
    method: get
    uri: https://evds3.tcmb.gov.tr/igmevdsms-dis/series=TP.DK.AED.A.YTL-TP.DK.AED.S.YTL-TP.DK.AUD.A.YTL-TP.DK.AUD.S.YTL-TP.DK.AZN.A.YTL-TP.DK.AZN.S.YTL-TP.DK.CAD.A.YTL-TP.DK.CAD.S.YTL-TP.DK.CHF.A.YTL-TP.DK.CHF.S.YTL-TP.DK.CNY.A.YTL-TP.DK.CNY.S.YTL-TP.DK.DKK.A.YTL-TP.DK.DKK.S.YTL-TP.DK.EUR.A.YTL-TP.DK.EUR.S.YTL-TP.DK.GBP.A.YTL-TP.DK.GBP.S.YTL-TP.DK.JPY.A.YTL-TP.DK.JPY.S.YTL-TP.DK.KRW.A.YTL-TP.DK.KRW.S.YTL-TP.DK.KWD.A.YTL-TP.DK.KWD.S.YTL-TP.DK.KZT.A.YTL-TP.DK.KZT.S.YTL-TP.DK.NOK.A.YTL-TP.DK.NOK.S.YTL-TP.DK.PKR.A.YTL-TP.DK.PKR.S.YTL-TP.DK.QAR.A.YTL-TP.DK.QAR.S.YTL-TP.DK.RON.A.YTL-TP.DK.RON.S.YTL-TP.DK.RUB.A.YTL-TP.DK.RUB.S.YTL-TP.DK.SAR.A.YTL-TP.DK.SAR.S.YTL-TP.DK.SEK.A.YTL-TP.DK.SEK.S.YTL-TP.DK.USD.A.YTL-TP.DK.USD.S.YTL&startDate=01-03-2026&endDate=22-03-2026&type=json&frequency=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<TCMB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"totalCount":22,"items":[{"Tarih":"01-03-2026","TP_DK_AED_A_YTL":null,"TP_DK_AED_S_YTL":null,"TP_DK_AUD_A_YTL":null,"TP_DK_AUD_S_YTL":null,"TP_DK_AZN_A_YTL":null,"TP_DK_AZN_S_YTL":null,"TP_DK_CAD_A_YTL":null,"TP_DK_CAD_S_YTL":null,"TP_DK_CHF_A_YTL":null,"TP_DK_CHF_S_YTL":null,"TP_DK_CNY_A_YTL":null,"TP_DK_CNY_S_YTL":null,"TP_DK_DKK_A_YTL":null,"TP_DK_DKK_S_YTL":null,"TP_DK_EUR_A_YTL":null,"TP_DK_EUR_S_YTL":null,"TP_DK_GBP_A_YTL":null,"TP_DK_GBP_S_YTL":null,"TP_DK_JPY_A_YTL":null,"TP_DK_JPY_S_YTL":null,"TP_DK_KRW_A_YTL":null,"TP_DK_KRW_S_YTL":null,"TP_DK_KWD_A_YTL":null,"TP_DK_KWD_S_YTL":null,"TP_DK_KZT_A_YTL":null,"TP_DK_KZT_S_YTL":null,"TP_DK_NOK_A_YTL":null,"TP_DK_NOK_S_YTL":null,"TP_DK_PKR_A_YTL":null,"TP_DK_PKR_S_YTL":null,"TP_DK_QAR_A_YTL":null,"TP_DK_QAR_S_YTL":null,"TP_DK_RON_A_YTL":null,"TP_DK_RON_S_YTL":null,"TP_DK_RUB_A_YTL":null,"TP_DK_RUB_S_YTL":null,"TP_DK_SAR_A_YTL":null,"TP_DK_SAR_S_YTL":null,"TP_DK_SEK_A_YTL":null,"TP_DK_SEK_S_YTL":null,"TP_DK_USD_A_YTL":null,"TP_DK_USD_S_YTL":null,"UNIXTIME":{"$numberLong":"1772312400"}},{"Tarih":"02-03-2026","TP_DK_AED_A_YTL":"11.85930000","TP_DK_AED_S_YTL":"12.01440000","TP_DK_AUD_A_YTL":"31.09290000","TP_DK_AUD_S_YTL":"31.29570000","TP_DK_AZN_A_YTL":"25.62030000","TP_DK_AZN_S_YTL":"25.95550000","TP_DK_CAD_A_YTL":"31.99450000","TP_DK_CAD_S_YTL":"32.13880000","TP_DK_CHF_A_YTL":"56.54650000","TP_DK_CHF_S_YTL":"56.90960000","TP_DK_CNY_A_YTL":"6.35160000","TP_DK_CNY_S_YTL":"6.43470000","TP_DK_DKK_A_YTL":"6.90840000","TP_DK_DKK_S_YTL":"6.94240000","TP_[...]
