---
http_interactions:
- request:
    method: get
    uri: https://evds3.tcmb.gov.tr/igmevdsms-dis/series=TP.DK.AED.C.YTL-TP.DK.AUD.C.YTL-TP.DK.AZN.C.YTL-TP.DK.CAD.C.YTL-TP.DK.CHF.C.YTL-TP.DK.CNY.C.YTL-TP.DK.DKK.C.YTL-TP.DK.EUR.C.YTL-TP.DK.GBP.C.YTL-TP.DK.JPY.C.YTL-TP.DK.KRW.C.YTL-TP.DK.KWD.C.YTL-TP.DK.KZT.C.YTL-TP.DK.NOK.C.YTL-TP.DK.PKR.C.YTL-TP.DK.QAR.C.YTL-TP.DK.RON.C.YTL-TP.DK.RUB.C.YTL-TP.DK.SAR.C.YTL-TP.DK.SEK.C.YTL-TP.DK.USD.A.YTL-TP.DK.USD.S.YTL&startDate=09-03-2026&endDate=16-03-2026&type=json&frequency=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<TCMB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"totalCount":8,"items":[{"Tarih":"09-03-2026","TP_DK_AED_C_YTL":"3.67310000","TP_DK_AUD_C_YTL":"1.42430000","TP_DK_AZN_C_YTL":"1.70000000","TP_DK_CAD_C_YTL":"1.36610000","TP_DK_CHF_C_YTL":"0.78100000","TP_DK_CNY_C_YTL":"6.90180000","TP_DK_DKK_C_YTL":"6.44550000","TP_DK_EUR_C_YTL":"1.15910000","TP_DK_GBP_C_YTL":"1.33480000","TP_DK_JPY_C_YTL":"157.77000000","TP_DK_KRW_C_YTL":"1478.00000000","TP_DK_KWD_C_YTL":"3.26580000","TP_DK_KZT_C_YTL":"493.94000000","TP_DK_NOK_C_YTL":"9.65190000","TP_DK_PKR_C_YTL":"279.33000000","TP_DK_QAR_C_YTL":"3.64750000","TP_DK_RON_C_YTL":"4.39390000","TP_DK_RUB_C_YTL":"79.09000000","TP_DK_SAR_C_YTL":"3.75350000","TP_DK_SEK_C_YTL":"9.22540000","TP_DK_USD_A_YTL":"43.90550000","TP_DK_USD_S_YTL":"43.98460000","UNIXTIME":{"$numberLong":"1773003600"}},{"Tarih":"10-03-2026","TP_DK_AED_C_YTL":"3.67310000","TP_DK_AUD_C_YTL":"1.42700000","TP_DK_AZN_C_YTL":"1.70000000","TP_DK_CAD_C_YTL":"1.35520000","TP_DK_CHF_C_YTL":"0.77930000","TP_DK_CNY_C_YTL":"6.91640000","TP_DK_DKK_C_YTL":"6.46650000","TP_DK_EUR_C_YTL":"1.15530000","TP_DK_GBP_C_YTL":"1.33350000","TP_DK_JPY_C_YTL":"158.52000000","TP_DK_KRW_C_YTL":"1490.00000000","TP_DK_KWD_C_YTL":"3.26470000","TP_DK_KZT_C_YTL":"497.22000000","TP_DK_NOK_C_YTL":"9.64030000","TP_DK_[...]
