---
http_interactions:
- request:
    method: get
    uri: https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/od/rates_of_exchange?fields=record_date,effective_date,country_currency_desc,exchange_rate&filter=record_date:gte:2026-02-28&page%5Bnumber%5D=1&page%5Bsize%5D=10000&sort=record_date
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"record_date":"2026-03-31","effective_date":"2026-03-31","country_currency_desc":"Afghanistan-Afghani","exchange_rate":"64.77"},{"record_date":"2026-03-31","effective_date":"2026-03-31","country_currency_desc":"Albania-Lek","exchange_rate":"83.3"},{"record_date":"2026-03-31","effective_date":"2026-03-31","country_currency_desc":"Algeria-Dinar","exchange_rate":"132.596"},{"record_date":"2026-03-31","effective_date":"2026-03-31","country_currency_desc":"Angola-Kwanza","exchange_rate":"912.13"},{"record_date":"2026-03-31","effective_date":"2026-03-31","country_currency_desc":"Antigua
        & Barbuda-East Caribbea[...]
