---
version: 2
interactions:
    - id: 0
      request:
        host: www.banxico.org.mx
        headers:
            Bmx-Token:
                - <BANXICO_API_KEY>
        url: https://www.banxico.org.mx/SieAPIRest/service/v1/series/SF43718,SF46410,SF46407,SF46406,SF60632/datos/2026-03-01/2026-03-15
        method: GET
      response:
        body: '{"bmx":{"series":[{"idSerie":"SF43718","titulo":"Tipo de cambio                                          Pesos por dólar E.U.A. Tipo de cambio para solventar obligaciones denominadas en moneda extranjera Fecha de determinación (FIX)","datos":[{"fecha":"02/03/2026","dato":"17.3485"},{"fecha":"03/03/2026","dato":"17.7228"},{"fecha":"04/03/2026","dato":"17.5445"},{"fecha":"05/03/2026","dato":"17.6770"},{"fecha":"06/03/2026","dato":"17.7962"},{"fecha":"09/03/2026","dato":"17.7687"},{"fecha":"10/03/2026","dato":"17.5037"},{"fecha":"11/03/2026","dato":"17.6543"},{"fecha":"12/03/2026","dato":"17.8368"},{"fecha":"13/03/2026","dato":"17.9218"}]},{"idSerie":"SF46406","titulo":"Cotización de las divisas que conforman la canasta del DEG Respecto al peso mexicano Yen japonés[...]
