---
version: 2
interactions:
    - id: 0
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F073.TCO.PRE.Z.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal (dólar observado $CLP/USD); tipo de cambio; ; precio; diario; ; Banco Central de Chile; ; \",\r\n    \"descripIng\": \"Nominal exchange rate (Observed dollar $CLP/USD); exchange rate; ; price; daily; ; central bank of chile; ; \",\r\n    \"seriesId\": \"F073.TCO.PRE.Z.D\",\r\n    \"Obs\": [\r\n      {\r\n        \"indexDateString\": \"02-03-2026\",\r\n        \"value\": \"871.41\",\r\n        \"statusCode\": \"OK\"\r\n      },\r\n      {\r\n        \"indexDateString\": \"03-03-2026\",\r\n        \"value\": \"884.21\",\r\n        \"statusCode\": \"OK\"\r\n      },\r\n      {\r\n        \"indexDateString\": \"04-03-2026\",\r\n        \"value\": \"906.32\",\r\n        \"statusCode\": \"OK\"\r\n      },\r\n      {\r\n        \"indexDateString\": \"05-03-2026\",\r\n        \"value\": \"895.14\",\r\n        \"statusCode\": \"OK\"\r\n      },\r\n      {\r\n        \"indexDateString\": \"06-03-2026\",\r\n [...]
    - id: 1
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.EUR.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal euro\",\r\n    \"descripIng\": \"Euro nominal exchange rate\"[...]
    - id: 2
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.GBP.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal libra esterlina\",\r\n    \"descripIng\": \"Pound sterling no[...]
    - id: 3
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.JPY.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal Yen\",\r\n    \"descripIng\": \"Yen nominal exchange rate\",\[...]
    - id: 4
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.CAD.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal dólar canadiense\",\r\n    \"descripIng\": \"Canadian dollar [...]
    - id: 5
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.AUD.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal dólar australiano\",\r\n    \"descripIng\": \"Australian doll[...]
    - id: 6
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.CNY.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal Yuan\",\r\n    \"descripIng\": \"Yuan nominal exchange rate\"[...]
    - id: 7
      request:
        host: si3.bcentral.cl
        headers:
        url: https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?firstdate=2026-03-01&function=GetSeries&lastdate=2026-03-15&pass=<BCCH_PASS>&timeseries=F072.CLP.BRL.N.O.D&user=<BCCH_USER>
        method: GET
      response:
        body: "{\r\n  \"Codigo\": 0,\r\n  \"Descripcion\": \"Success\",\r\n  \"Series\": {\r\n    \"descripEsp\": \"Tipo de cambio nominal real brasileño\",\r\n    \"descripIng\": \"Brazilian real nom[...]
