---
version: 2
interactions:
    - id: 0
      request:
        host: cotizaciones.bcu.gub.uy
        body: |
            <?xml version="1.0" encoding="UTF-8"?>
            <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
                               xmlns:cot="Cotiza">
               <soapenv:Header />
               <soapenv:Body>
                  <cot:wsbcucotizaciones.Execute>
                     <cot:Entrada>
                        <cot:Moneda>
                           <cot:item>2225</cot:item>
                        </cot:Moneda>
                        <cot:FechaDesde>2026-03-27</cot:FechaDesde>
                        <cot:FechaHasta>2026-03-31</cot:FechaHasta>
                        <cot:Grupo>0</cot:Grupo>
                     </cot:Entrada>
                  </cot:wsbcucotizaciones.Execute>
               </soapenv:Body>
            </soapenv:Envelope>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
        url: https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsbcucotizaciones
        method: POST
      response:
        body: |
            <?xml version="1.0" encoding="utf-8"?>
            <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            	<SOAP-ENV:Body>
            		<wsbcucotizaciones.ExecuteResponse xmlns="Cotiza">
            			<Salida xmlns="Cotiza">
            				<respuestastatus>
            					<status>1</status>
            					<codigoerror>0</codigoerror>
            					<mensaje/>
            				</respuestastatus>
            				<datoscotizaciones>
            					<datoscotizaciones.dato xmlns="Cotiza">
            						<Fecha>2026-03-27</Fecha>
            						<Moneda>2225</Moneda>
            						<Nombre>DLS. USA BILLETE</Nombre>
            						<CodigoISO>DLS.</CodigoISO>
            						<Emisor>ESTADOS UNIDOS</Emisor>
            						<TCC>40.560000</TCC>
            						<TCV>40.560000</TCV>
            						<ArbAct>1.000000</ArbAct>
            						<FormaArbitrar>0</FormaArbitrar>
            					</datoscotizaciones.dato>
            					<datoscotizaciones.dato xmlns="Cotiza">
            						<Fecha>2026-03-30</Fecha>
            						<Moneda>2225</Moneda>
            						<Nombre>DLS. USA BILLETE</Nombre>
            						<CodigoISO>DLS.</CodigoISO>
            						<Emisor>ESTADOS UNIDOS</Emisor>
            						<TCC>40.626000</TCC>
            						<TCV>40.626000</TCV>
            						<ArbAct>1.000000</ArbAct>
            						<FormaArbitrar>0</FormaArbitrar>
            					</datoscotizaciones.dato>
            					<datoscotizaciones.dato xmlns="Cotiza">
            						<Fecha>2026-03-31</Fecha>
            						<Moneda>2225</Moneda>
            						<Nombre>DLS. USA BILLETE</Nombre>
            						<CodigoISO>DLS.</CodigoISO>
            						<Emisor>ESTADOS UNIDOS</Emisor>
            						<TCC>40.480000</TCC>
            						<TCV>40.480000</TCV>
            						<ArbAct>1.000000</ArbAct>
            						<FormaArbitrar>0</FormaArbitrar>
            					</datoscotizaciones.dato>
            				</datoscotizaciones>
            			</Salida>
            		</wsbcucotizaciones.ExecuteResponse>
            	</SOAP-ENV:Body>
            </SOAP-ENV:Envelope>
        headers:
            Content-Type:
                - text/xml;charset=utf-8
            Last-Modified:
                - Thu, 01 Jan 1970 00:00:00 GMT
        status: 200 OK
        code: 200
        duration: 0s
[...]
