---
version: 2
interactions:
    - id: 0
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/lista/moedas
        method: GET
      response:
        body: '{"genericResponse":[{"idMoeda":99,"designacaoMoeda":"DINAR EMIRATES","codigoMoeda":"AED"},{"idMoeda":346,"designacaoMoeda":"LEK ALBANÊS","codigoMoeda":"ALL"},{"idMoeda":73,"designacaoMoeda":"KWANZA","codigoMoeda":"AOA"},{"idMoeda":140,"designacaoMoeda":"PESO ARGENTINO","codigoMoeda":"ARS"},{"idMoeda":20,"designacaoMoeda":"DÓLAR AUSTTRALIANO","codigoMoeda":"AUD"},{"idMoeda":394,"designacaoMoeda":"LEV NOVO BÚLGARO","codigoMoeda":"BGN"},{"idMoeda":426,"designacaoMoeda":"DÓLAR DAS BERMUDAS","codigoMoeda":"BMD"},{"idMoeda":309,"designacaoMoeda":"BOLIVIANO","codigoMoeda":"BOB"},{"id[...]
    - id: 1
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=AED&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":248.609,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DINAR EMIRATES","codigoMoeda":"AED"},{"taxa":248.609,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DINAR EMIRATES","codigoMoeda":"AED"},{"taxa":248.609,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DINAR EMIRATES","codigoMoeda":"AED"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 2
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=ALL&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":663.98778,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR CANADENSE","codigoMoeda":"CAD"},{"taxa":1159.65964,"descricaoTipoCambio":"Taxa de Refe[...]
    - id: 3
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=ARS&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":0.65456,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"PESO ARGENTINO","codigoMoeda":"ARS"},{"taxa":0.653,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"PESO ARGENTINO","codigoMoeda":"ARS"},{"taxa":0.65386,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"PESO ARGENTINO","codigoMoeda":"ARS"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 4
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=AUD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":649.99715,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR AUSTTRALIANO","codigoMoeda":"AUD"},{"taxa":651.0631,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DÓLAR AUSTTRALIANO","codigoMoeda":"AUD"},{"taxa":650.73831,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DÓLAR AUSTTRALIANO","codigoMoeda":"AUD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 5
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BGN&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":542.55258,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"LEV NOVO BÚLGARO","codigoMoeda":"BGN"},{"taxa":541.61931,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"LEV NOVO BÚLGARO","codigoMoeda":"BGN"},{"taxa":541.45873,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"LEV NOVO BÚLGARO","codigoMoeda":"BGN"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 6
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BMD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR DAS BERMUDAS","codigoMoeda":"BMD"},{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DÓLAR DAS BERMUDAS","codigoMoeda":"BMD"},{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DÓLAR DAS BERMUDAS","codigoMoeda":"BMD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 7
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BOB&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":133.20438,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"BOLIVIANO","codigoMoeda":"BOB"},{"taxa":133.20438,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"BOLIVIANO","codigoMoeda":"BOB"},{"taxa":133.20438,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"BOLIVIANO","codigoMoeda":"BOB"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 8
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BRL&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":182.06608,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"REAL BRASILEIRO","codigoMoeda":"BRL"},{"taxa":181.60982,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"REAL BRASILEIRO","codigoMoeda":"BRL"},{"taxa":182.24049,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"REAL BRASILEIRO","codigoMoeda":"BRL"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 9
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BSD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR DAS BAHAMAS","codigoMoeda":"BSD"},{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DÓLAR DAS BAHAMAS","codigoMoeda":"BSD"},{"taxa":913.116,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DÓLAR DAS BAHAMAS","codigoMoeda":"BSD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 10
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=BWP&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":65.56162,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"PULA BOTSUANESA","codigoMoeda":"BWP"},{"taxa":66.74971,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"PULA BOTSUANESA","codigoMoeda":"BWP"},{"taxa":66.65859,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"PULA BOTSUANESA","codigoMoeda":"BWP"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 11
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CAD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":663.98778,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR CANADENSE","codigoMoeda":"CAD"},{"taxa":663.79471,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DÓLAR CANADENSE","codigoMoeda":"CAD"},{"taxa":663.11983,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DÓLAR CANADENSE","codigoMoeda":"CAD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 12
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CDF&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":0.40853,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"FRANCO CONGOLES","codigoMoeda":"CDF"},{"taxa":0.40853,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"FRANCO CONGOLES","codigoMoeda":"CDF"},{"taxa":0.40838,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"FRANCO CONGOLES","codigoMoeda":"CDF"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 13
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CHF&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":1159.65964,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"FRANCO SUIÇO","codigoMoeda":"CHF"},{"taxa":1155.84304,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"FRANCO SUIÇO","codigoMoeda":"CHF"},{"taxa":1157.895,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"FRANCO SUIÇO","codigoMoeda":"CHF"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 14
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CNY&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":134.21268,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"YUAN CHINES","codigoMoeda":"CNY"},{"taxa":134.22649,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"YUAN CHINES","codigoMoeda":"CNY"},{"taxa":134.2561,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"YUAN CHINES","codigoMoeda":"CNY"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 15
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CRC&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":2.02514,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"COLON DA COSTA RICA","codigoMoeda":"CRC"},{"taxa":2.01883,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"COLON DA COSTA RICA","codigoMoeda":"CRC"},{"taxa":2.02044,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"COLON DA COSTA RICA","codigoMoeda":"CRC"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 16
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CUP&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":38.0465,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"PESO CUBANO","codigoMoeda":"CUP"},{"taxa":38.0465,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"PESO CUBANO","codigoMoeda":"CUP"},{"taxa":38.0465,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"PESO CUBANO","codigoMoeda":"CUP"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 17
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CVE&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":9.64023,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"ESCUDO DE CABO VERDE","codigoMoeda":"CVE"},{"taxa":9.61516,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"ESCUDO DE CABO VERDE","codigoMoeda":"CVE"},{"taxa":9.61832,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"ESCUDO DE CABO VERDE","codigoMoeda":"CVE"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 18
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=CZK&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":43.67722,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"COROA CHECA","codigoMoeda":"CZK"},{"taxa":43.56573,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"COROA CHECA","codigoMoeda":"CZK"},{"taxa":43.60027,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"COROA CHECA","codigoMoeda":"CZK"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 19
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=DKK&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":141.99325,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"COROA DINAMARQUESA","codigoMoeda":"DKK"},{"taxa":141.75078,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"COROA DINAMARQUESA","codigoMoeda":"DKK"},{"taxa":141.71118,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"COROA DINAMARQUESA","codigoMoeda":"DKK"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 20
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=EEK&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":67.81807,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"COROA ESTONIANA","codigoMoeda":"EEK"},{"taxa":67.70241,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"COROA ESTONIANA","codigoMoeda":"EEK"},{"taxa":67.68234,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"COROA ESTONIANA","codigoMoeda":"EEK"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 21
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=EGP&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":17.20588,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"LIBRA EGÍPCIA","codigoMoeda":"EGP"},{"taxa":17.10077,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"LIBRA EGÍPCIA","codigoMoeda":"EGP"},{"taxa":17.27812,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"LIBRA EGÍPCIA","codigoMoeda":"EGP"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 22
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=ETB&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":5.85078,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"BIRR ETÍOPE","codigoMoeda":"ETB"},{"taxa":5.73663,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"BIRR ETÍOPE","codigoMoeda":"ETB"},{"taxa":5.7583,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"BIRR ETÍOPE","codigoMoeda":"ETB"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 23
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=EUR&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":1060.8582,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"MOEDA DA UNIÃO EUROPEIA","codigoMoeda":"EUR"},{"taxa":1059.032,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"MOEDA DA UNIÃO EUROPEIA","codigoMoeda":"EUR"},{"taxa":1058.9407,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"MOEDA DA UNIÃO EUROPEIA","codigoMoeda":"EUR"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 24
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=GBP&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":1224.67275,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"LIBRA ESTRELIM","codigoMoeda":"GBP"},{"taxa":1223.85203,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"LIBRA ESTRELIM","codigoMoeda":"GBP"},{"taxa":1225.00134,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"LIBRA ESTRELIM","codigoMoeda":"GBP"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 25
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=HKD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":116.5804,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DOLAR DE HONG KONG","codigoMoeda":"HKD"},{"taxa":116.57594,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DOLAR DE HONG KONG","codigoMoeda":"HKD"},{"taxa":116.55213,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DOLAR DE HONG KONG","codigoMoeda":"HKD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 26
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=HRK&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":140.83472,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"KUNA CROATA","codigoMoeda":"HRK"},{"taxa":140.59619,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"KUNA CROATA","codigoMoeda":"HRK"},{"taxa":140.5529,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"KUNA CROATA","codigoMoeda":"HRK"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 27
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=HUF&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":2.94297,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"FORINTE HÚNGARO","codigoMoeda":"HUF"},{"taxa":2.93333,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"FORINTE HÚNGARO","codigoMoeda":"HUF"},{"taxa":2.93758,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"FORINTE HÚNGARO","codigoMoeda":"HUF"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 28
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=IDR&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":0.05159,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"RUPIA INDONÉSIA","codigoMoeda":"IDR"},{"taxa":0.05173,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"RUPIA INDONÉSIA","codigoMoeda":"IDR"},{"taxa":0.0517,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"RUPIA INDONÉSIA","codigoMoeda":"IDR"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 29
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=ILS&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":313.03257,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"SHEQEL NOVO ISRAELITA","codigoMoeda":"ILS"},{"taxa":312.41139,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"SHEQEL NOVO ISRAELITA","codigoMoeda":"ILS"},{"taxa":313.20436,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"SHEQEL NOVO ISRAELITA","codigoMoeda":"ILS"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 30
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=INR&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":9.45989,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"RUPIA INDIANA","codigoMoeda":"INR"},{"taxa":9.43058,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"RUPIA INDIANA","codigoMoeda":"INR"},{"taxa":9.49358,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"RUPIA INDIANA","codigoMoeda":"INR"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 31
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=IQD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":0.69704,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DINAR IRAQUIANO","codigoMoeda":"IQD"},{"taxa":0.69704,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DINAR IRAQUIANO","codigoMoeda":"IQD"},{"taxa":0.69704,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DINAR IRAQUIANO","codigoMoeda":"IQD"}],"success":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - id: 32
      request:
        host: www.bna.ao
        headers:
        url: https://www.bna.ao/service/rest/taxas/get/evolucao/taxa/intervalo?datafim=2026-05-21&datainicio=2026-05-18&moeda=JMD&tipocambio=M
        method: GET
      response:
        body: '{"genericResponse":[{"taxa":5.82356,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-19","designacaoMoeda":"DÓLAR JAMAICANO","codigoMoeda":"JMD"},{"taxa":5.80973,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-20","designacaoMoeda":"DÓLAR JAMAICANO","codigoMoeda":"JMD"},{"taxa":5.82018,"descricaoTipoCambio":"Taxa de Referência - MEDIO","tipoCambio":"M","data":"2026-05-21","designacaoMoeda":"DÓLAR JAMAICANO","codigoMoeda":"JMD"}],"success":true}'
        headers:
            Content-Type:
[...]
