---
version: 2
interactions:
    - id: 0
      request:
        host: www.mongolbank.mn
        body: '{"startDate":"2026-05-19","endDate":"2026-05-22"}'
        headers:
            Content-Type:
                - application/json
        url: https://www.mongolbank.mn/en/currency-rate-movement/data
        method: POST
      response:
        body: '{"success":true,"data":[{"RATE_DATE":"2026-05-22","USD":"3,576.42","EUR":"4,151.69","JPY":"22.47","CHF":"4,549.00","SEK":"382.31","GBP":"4,801.52","BGN":"2,148.00","HUF":"11.55","EGP":"67.58","INR":"37.30","HKD":"456.40","RUB":"49.98","KZT":"7.59","CNY":"526.35","KRW":"2.36","KPW":"27.51","CAD":"2,593.39","AUD":"2,551.60","CZK":"170.98","TWD":"113.52","THB":"109.45","IDR":"0.20","MYR":"901.77","SGD":"2,794.73","AED":"973.77","KWD":"11,657.17","NZD":"2,097.03","DKK":"555.59","PLN":"977.99","UAH":"80.77","NOK":"386.72","NPR":"23.31","ZAR":"216.82","TRY":"78.19","VND":"0.14","XAU":"16,172,267.24","XAG":"271,833.67","SDR":"4,887.93"},{"RATE_DATE":"2026-05-21","USD":"3,576.50","EUR":"4,151.42","JPY":"22.49","CHF":"4,541.30","SEK":"381.81","GBP":"4,803.06","BGN":"2,148.05","HUF":"11.53","EGP":"67.42","INR":"37.10","HKD":"456.56","RUB":"50.51","KZT":"7.58","CNY":"525.70","KRW":"2.38","KPW":"27.51","CAD":"2,596.56","AUD":"2,545.93","CZK":"170.79","TWD":"113.39","THB":"109.42","IDR":"0.20","MYR":"901.11","SGD":"2,795.12","AED":"973.83","KWD":"11,657.43","NZD":"2,095.47","DKK":"555.55","PLN":"976.99","UAH":"80.84","NOK[...]
