---
version: 2
interactions:
    - id: 0
      request:
        host: gateway.api.bot.or.th
        headers:
            Authorization:
                - <BOT_API_KEY>
        url: https://gateway.api.bot.or.th/Stat-ExchangeRate/v2/DAILY_AVG_EXG_RATE/?end_period=2026-04-03&start_period=2026-04-01
        method: GET
      response:
        body: '{"result":{"timestamp":"2026-04-05 18:18:57","api":"Daily Weighted-average Interbank Exchange Rate - THB / USD","data":{"data_header":{"report_name_eng":"Rates of Exchange of Commercial Banks in Bangkok Metropolis (2002-present)","report_name_th":"อัตราแลกเปลี่ยนเฉลี่ยของธนาคารพาณิชย์ในกรุงเทพมหานคร (2545-ปัจจุบัน)","report_uoq_name_eng":"(Unit: Baht / 1 Unit of Foreign Currency)","report_uoq_name_th":"(หน่วย: บาท ต่อ 1 หน่วยเงินตราต่างประเทศ)","report_source_of_data":[{"source_of_data_eng":"Bank of Thailand","source_of_data_th":"ธนาคารแห่งประเทศไทย"}],"report_remark":[{"report_remark_eng":"Since Nov 16, 2015 the data regarding Buying Transfer Rate of PKR has been changed to Buying Rate using Foreign Exchange Rates (LSEG) with Bangkok Market Crossing.","report_remark_th":"ตั้งแต่วันที่ 16 พ.ย. 2558 ข้อมูลในอัตราซื้อเงินโอนของสกุล PKR ได้เปลี่ยนเป็นอัตราซื้อที่ใช้อัตราในตลาดต่างประเทศ (LSEG) คำนวณผ่านอัตราซื้อขายเงินดอลลาร์ สรอ. ในตลาดกรุงเทพฯ"}],"last_updated":"2026-04-03"},"data_detail":[{"period":"2026-04-03","currency_id":"USD","currency_name_th":"สหรัฐอเมริกา : ดอลลาร์ (USD)","currency_name_eng":"USA : DOLLAR (USD) ","buying_sight":"32.4127000","buying_transfer":"32.4857000","selling":"32.8039000","mid_rate":"32.6448000"},{"period":"2026-04-03","currency_id":"GBP","currency_name_th":"อังกฤษ : ปอนด์สเตอร์ลิง (GBP)","currency_name_eng":"UNITED KINGDOM : POUND STERING (GBP)","buying_sight":"42.6566000","buying_transfer":"42.7637000","selling":"43.5419000","mid_rate":"43.1528000"},{"period":"2026-04-03","currency_id":"EUR","currency_name_th":"ยูโรโซน : ยูโร (EUR)","currency_name_eng":"EURO ZONE : EURO (EUR)","buying_sight":"37.2701000","buying_transfer":"37.3588000","selling":"37.9783000","mid_rate":"37[...]
