---
version: 2
interactions:
    - id: 0
      request:
        host: www.cbar.az
        headers:
        url: https://www.cbar.az/currencies/04.09.2026.xml
        method: GET
      response:
        body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ValCurs Date=\"04.09.2026\" Name=\"AZN məzənnələri\" Description=\"Azərbaycan Respublikası Mərkəzi Bankının 04.09.2026 tarixdən etibarən xarici valyutaların və bank metallarının Azərbaycan manatına qarşı rəsmi məzənnələri bülleteni\">\n\n    <ValType Type=\"Bank metalları\">\n        <Valute Code=\"XPD\">\n            <Nominal>1 t.u.</Nominal>\n            <Name>Palladium</Name>\n            <Value>2403.511</Value>\n        </Valute>\n        <Valute Code=\"XPT\">\n            <Nominal>1 t.u.</Nominal>\n            <Name>Platin</Name>\n            <Value>3075.1895</Value>\n        </Valute>\n        <Valute Code=\"XAG\">\n            <Nominal>1 t.u.</Nominal>\n            <Name>Gümüş</Name>\n            <Value>113.5358</Value>\n        </Valute>\n        <Valute Code=\"XAU\">\n            <Nominal>1 t.u.</Nominal>\n            <Name>Qızıl</Name>\n            <Value>7605.494</Value>\n      [...]
[...]
