---
version: 2
interactions:
    - id: 0
      request:
        host: www.cbe.org.eg
        headers:
        url: https://www.cbe.org.eg/en/economic-research/statistics/cbe-exchange-rates/historical-data
        method: GET
      response:
        body: "\r\n\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\" dir=\"ltr\" data-animation=\"on\">\r\n<head>\r\n    <meta charset=\"utf-8\" />\r\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css\" />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\r\n    <!-- favicon -->\r\n    <link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"/assets/cbe/img/favicon/apple-icon-57x57.png\">\r\n    <link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"/assets/cbe/img/favicon/apple-icon-60x60.png\">\r\n    <link rel=\"apple-touch-icon\" sizes=\"72x72\" hr[...]
    - id: 1
      request:
        host: www.cbe.org.eg
        body: __RequestVerificationToken=YQadBhZ3z1ZtC-AzgTG-3uXa_mk_T3_V5fpvA0UjyXcw_Xq3xM4Ee0JSZyVPao9U5fy3owjj4AYOAeyCGc7TAks14zC0qkBlAcFeijaTBps1&DataSourceId=19CFFDDBFF494350A5E9C6A4397FC7DF&FallbackUrl=%2Fen%2Feconomic-research%2Fstatistics%2Fcbe-exchange-rates%2Fhistorical-data&LanguageName=en&FromDateRaw=01%2F04%2F2026&ToDateRaw=09%2F04%2F2026&SelectedSelectOptions=US+Dollar&SelectedSelectOptions=Euro&SelectedSelectOptions=Pound+Sterling&SelectedSelectOptions=Canadian+Dollar&SelectedSelectOptions=Danish+Krone&SelectedSelectOptions=Norwegian+Krone&SelectedSelectOptions=Swedish+Krona&SelectedSelectOptions=Swiss+Franc&SelectedSelectOptions=Japanese+Yen+100&SelectedSelectOptions=Saudi+Riyal&SelectedSelectOptions=Kuwaiti+Dinar&SelectedSelectOptions=UAE+Dirham&SelectedSelectOptions=Australian+Dollar&SelectedSelectOptions=Bahraini+Dinar&SelectedSelectOptions=Omani+Riyal&SelectedSelectOptions=Qatari+Riyal&SelectedSelectOptions=Jordanian+Dinar&SelectedSelectOptions=Chinese+Yuan&SubmitAction=2
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://www.cbe.org.eg/api/statistics/GetHistoricalData
        method: POST
      response:
        body: !!binary |
            UEsDBBQABgAIANqCtlzkSK2vGAEAADMDAAATABQAW0NvbnRlbnRfVHlwZXNdLnhtbJmZEA
            AAAAAAAAAAAAAAAAAAAAAAtZLPSgMxEMZfZclVmrQeRKTbHqoeVbA+wJjMdkPzj8y0tm9v
            NisipYIeepok38z3/QgzXx68a/aYycbQipmcigaDjsaGTSve1o+TW9EQQzDgYsBWHJHEcj
            FfHxNSU2YDtaJnTndKke7RA8mYMBSli9kDl2veqAR6CxtU19PpjdIxM[...]
