---
version: 2
interactions:
    - id: 0
      request:
        host: www.cbl.org.lr
        headers:
        url: https://www.cbl.org.lr/research/buying-selling-rates
        method: GET
      response:
        body: "<!DOCTYPE html>\n<html  lang=\"en\" dir=\"ltr\">\n  <head>\n    <meta charset=\"utf-8\" />\n<meta name=\"Generator\" content=\"Drupal 10 (https://www.drupal.org)\" />\n<meta name=\"MobileOptimized\" content=\"width\" />\n<meta name=\"HandheldFriendly\" content=\"true\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<link rel=\"icon\" href=\"/themes/custom/gol/favicon.ico\" type=\"image/vnd.microsoft.icon\" />\n<script>window.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};a2a_config.icon_color = \"transparent, #3078B8\";</script>\n\n    <title>Daily Exchange Rates | Central Bank of Liberia</title>\n    <link rel=\"stylesheet\" media=\"all\" href=\"/sites/default/files/css/css_q1ojwL26SJUQ66d8LHNp1kp8Wqw6ywSNVmafvd0ZBr0.css?delta=0&amp;language=en&amp;theme=gol&amp;include=eJyFjkEOgzAMBD-Uxk9ChrjUJYlR1lDx-1JEL-2Bi9c7GsnmlNy4bsTnEu_NqofBbFIBnflEi_AtC8JomcZsPefbh2gdQxPMVqGrdEXqQj899mYObzxfm014mk33D67U73HYoJx3lpS7nUygfxT9IUUCNrgU6hkSVpUX6JixWFqyvAFaHmse\" />\n<link rel=\"stylesheet\" media=\"all\" href=\"/sites/default/files/css/css_Kh4yq_2VPBjZ12JICSAl-Wq7zepzhTv_Mw2kq2diVBI.css?delta=1&amp;language=en&amp;theme=gol&amp;include=eJyFjkEOgzAMBD-Uxk9ChrjUJYlR1lDx-1JEL-2Bi9c7GsnmlNy4bsTnEu_NqofBbFIBnflEi_AtC8JomcZsPefbh2gdQxPMVqGrdEXqQj899mYObzxfm014mk33D67U73HYoJx3lpS7nUygfxT9IUUCNrgU6hkSVpUX6JixWFqyvAFaHmse\" />\n\n    <script type=\"application/json\" data-drupal-selector=\"drupal-settings-json\">{\"path\":{\"baseUrl\":\"\\/\",\"pathPrefix\":\"\",\"currentPath\":\"research\\/buying-selling-rates\",\"currentPathIsAdmin\":false,\"isFront\":false,\"currentLanguage\":\"en\"},\"pluralDelimiter\":\"\\u0003\",\"suppressDeprecationErrors\":true,\"responsive_menu\":{\"position\":\"left\",\"theme\":\"theme-dark\",\"pagedim\":\"pagedim\",\"modifyViewport\":true,\"use_bootstrap\":true,\"breakpoint\":\"(min-width: 960px)\",\"drag\":false,\"mediaQuery\":\"(min-width: 960px)\"},\"bootstrap\":{\"forms_has_error_value_toggle\":1,\"modal_animation\":1,\"modal_backdrop\":\"true\",\"modal_focus_input\":1,\"modal_keyboard\":1,\"modal_select_text\":1,\"modal_show\":1,\"modal_size\":\"\"},\"cookies\":{\"cookiesjsr\":{\"config\":{\"cookie\":{\"name\":\"cookiesjsr\",\"expires\":31536000000,\"domain\":\"\",\"sameSite\":\"Lax\",\"secure\":false},\"library\":{\"libBasePath\":\"https:\\/\\/cdn.jsdelivr.net\\/gh\\/jfeltkamp\\/cookiesjsr@1\\/dist\",\"libPath\":\"https:\\/\\/cdn.jsdelivr.net\\/gh\\/jfeltkamp\\/cookiesjsr@1\\/dist\\/cookiesjsr.min.js\",\"scrollLimit\":0},\"callback\":{\"method\":\"post\",\"url\":\"\\/cookies\\/consent\\/callback.json\",\"headers\":[]},\"interface\":{\"openSettingsHash\":\"#editCookieSettings\",\"showDenyAll\":true,\"denyAllOnLayerClose\":false,\"settingsAsLink\":false,\"availableLangs\":[\"en\"],\"defaultLang\":\"en\",\"groupConsent\":false,\"cookieDocs\":false}},\"services\":{\"functional\":{\"id\":\"functional\",\"services\":[{\"key\":\"functional\",\"type\":\"functional\",\"name\":\"Required functional\",\"info\":{\"value\":\"\\u003Ctable\\u003E\\r\\n\\t\\u003Cthead\\u003E\\r\\n\\t\\t\\u003Ctr\\u003E\\r\\n\\t\\t\\t\\u003Cth width=\\u002215%\\u0022\\u003ECookie name\\u003C\\/th\\u003E\\r\\n\\t\\t\\t\\u003Cth width=\\u002215%\\u0022\\u003EDefault expiration time\\u003C\\/th\\u003E\\r\\n\\t\\t\\t\\u003Cth\\u003EDescription\\u003C\\/th\\u003E\\r\\n\\t\\t\\u003C\\/tr\\u003E\\r\\n\\t\\u003C\\/thead\\u003E\\r\\n\\t\\u003Ctbody\\u003E\\r\\n\\t\\t\\u003Ctr\\u003E\\r\\n\\t\\t\\t\\u003Ctd\\u003E\\u003Ccode dir=\\u0022ltr\\u00[...]
