---
version: 2
interactions:
    - id: 0
      request:
        host: www.cbn.gov.ng
        headers:
        url: https://www.cbn.gov.ng/api/GetAllExchangeRates
        method: GET
      response:
        body: '[{"id":61878,"currency":"CFA","ratedate":"2026-05-21","buyingrate":"2.4100","centralrate":"2.4200","sellingrate":"2.4300"},{"id":61879,"currency":"YUAN/RENMINBI","ratedate":"2026-05-21","buyingrate":"201.5207","centralrate":"201.5942","sellingrate":"201.6676"},{"id":61880,"currency":"DANISH KRONA","ratedate":"2026-05-21","buyingrate":"212.6685","centralrate":"212.7461","sellingrate":"212.8236"},{"id":61881,"currency":"EURO","ratedate":"2026-05-21","buyingrate":"1589.6201","centralrate":"1590.1997","sellingrate":"1590.7793"},{"id":61882,"currency":"YEN","ratedate":"2026-05-21","buyingrate":"8.6116","central[...]
