---
version: 2
interactions:
    - id: 0
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXBZUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":10,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-02","value":"5.1901"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-03","value":"5.2732"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-04","value":"5.2125"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-05","value":"5.2585"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-06","value":"5.2698"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-09","value":"5.2099"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-10","value":"5.1405"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-11","value":"5.157"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-12","value":"5.214"},{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","date":"2026-03-13","value":"5.2914"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            Last-Modified:
                - Mon, 16 Mar 2026 20:20:16 GMT
        status: 200 OK
        code: 200
        duration: 0s
    - id: 1
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXCAUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 2
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXCHUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 3
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXDNUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 4
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXHKUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 5
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXINUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 6
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXJPUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 7
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXKOUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 8
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXMAUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 9
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXMXUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","[...]
    - id: 10
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXNOUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 11
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSDUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 12
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSFUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 13
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSIUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 14
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSLUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 15
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXSZUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 16
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXTAUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 17
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXTHUS
        method: GET
      response:
        body: '{"realtime_start":"2026-03-19","realtime_end":"2026-03-19","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 18
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSAL
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 19
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSEU
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 20
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSNZ
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
    - id: 21
      request:
        host: api.stlouisfed.org
        headers:
        url: https://api.stlouisfed.org/fred/series/observations?api_key=<FRED_API_KEY>&file_type=json&observation_start=2026-03-01&series_id=DEXUSUK
        method: GET
      response:
        body: '{"realtime_start":"2026-03-16","realtime_end":"2026-03-16","observation_start":"2026-03-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc",[...]
