---
version: 2
interactions:
    - id: 0
      request:
        host: api.hnb.hr
        headers:
        url: https://api.hnb.hr/tecajn-eur/v3?datum-primjene-do=2023-01-06&datum-primjene-od=2023-01-02
        method: GET
      response:
        body: '[{"broj_tecajnice":"1","datum_primjene":"2023-01-02","drzava":"Australija","drzava_iso":"AUS","kupovni_tecaj":"1,571700","prodajni_tecaj":"1,566900","sifra_valute":"036","srednji_tecaj":"1,569300","valuta":"AUD"},{"broj_tecajnice":"1","datum_primjene":"2023-01-02","drzava":"Kanada","drzava_iso":"CAN","kupovni_tecaj":"1,446200","prodajni_tecaj":"1,441800","sifra_valute":"124","srednji_tecaj":"1,444000","valuta":"CAD"},{"broj_tecajnice":"1","datum_primjene":"2023-01-02","drzava":"Češka","drzava_iso":"CZE","kupovni_tecaj":"24,152000","prodajni_tecaj":"24,080000","sifra_valute":"203","srednji_tecaj":"24,116000","valuta":"CZK"},{"broj_tecajnice":"1","datum_primjene":"2023-01-02","drzava":"Danska","drza[...]
    - id: 1
      request:
        host: api.hnb.hr
        headers:
        url: https://api.hnb.hr/tecajn/v2?datum-do=2022-12-31&datum-od=2022-12-28
        method: GET
      response:
        body: '[{"broj_tecajnice":"251","datum":"2022-12-31","drzava":"Australija","jedinica":1,"kupovni_tecaj":"4,786781","prodajni_tecaj":"4,815589","sifra_valute":"036","srednji_tecaj":"4,801185","valuta":"AUD"},{"broj_tecajnice":"251","datum":"2022-12-31","drzava":"Kanada","jedinica":1,"kupovni_tecaj":"5,202145","prodajni_tecaj":"5,233451","sifra_valute":"124","srednji_tecaj":"5,217798","valuta":"CAD"},{"broj_tecajnice":"251","datum":"2022-12-31","drzava":"Češka","jedinica":1,"kupovni_tecaj":"0,311490","prodajni_tecaj":"0,313364","sifra_valute":"203","srednji_tecaj":"0,312427","valut[...]
