---
version: 2
interactions:
    - id: 0
      request:
        host: ec.europa.eu
        headers:
        url: https://ec.europa.eu/budg/inforeuro/api/public/monthly-rates?lang=en&month=12&year=1998
        method: GET
      response:
        body: '[{"country":"Bulgaria","currency":"lev","isoA3Code":"BGL","isoA2Code":"BG","value":1960.28,"comment":null},{"country":"Croatia","currency":"Croatian kuna","isoA3Code":"HRK","isoA2Code":"HR","value":7.31146,"comment":null},{"country":"Cyprus","currency":"Cyprus pound","isoA3Code":"CYP","isoA2Code":"CY","value":0.579367,"comment":null},{"country":"Czechia","currency":"Czech koruna","isoA3Code":"CZK","isoA2Code":"CZ","value":35.1401,"comment":null},{"country":"Denmark","currency":"Danish krone","isoA3Code":"DKK","isoA2Code":"DK","value":7.45276,"comment":null},{"country":"Estonia","currency":"Esto[...]
[...]
