---
version: 2
interactions:
    - id: 0
      request:
        host: eservices.mas.gov.sg
        headers:
        url: https://eservices.mas.gov.sg/statistics/msb/ExchangeRates.aspx
        method: GET
      response:
        body: "\r\n\r\n<!DOCTYPE html\r\n    PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en-us\">\r\n\r\n<head id=\"Head1\"><title>\r\n\tMonetary Authority of Singapore - Exchange Rates\r\n</title><meta charset=\"utf-8\" /><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" /><meta name=\"description\" content=\"#{title}\" /><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\r\n    <!-- icons-->\r\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"MasterPage/_assets/images/_favicon/apple-touch-icon.png\" /><link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"MasterPage/_assets/images/_favicon/favicon-32x32.png\" /><link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"MasterPage/_assets/images/_favicon/favicon-16x16.png\" /><link rel=\"manifest\" href=\"MasterPage/_assets/images/_favicon/site.webmanifest\" /><link rel=\"mask-icon\" href=\"MasterPage/_assets/images/_favicon/safari-pinned-tab.svg\" color=\"#002d6b\" />\r\n    <!-- stylesheets-->\r\n    <link rel=\"stylesheet\" href=\"MasterPage/_assets/stylesheets/style.min.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"MasterPage/_assets/stylesheets/carapace.min.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"MasterPage/_assets/stylesheets/print.min.css\" type=\"text/css\" media=\"print\" /><link rel=\"stylesheet\" href=\"MasterPage/_assets/stylesheets/custom.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"MasterPage/css/style.1.3.1.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"MasterPage/css/style-fda-msb.css\" type=\"text/css\" />\r\n\r\n\r\n    <!--[if lt IE 9 ]>\r\n    <script type=\"text/javascript\" src=\"Master/files/selectivizr-min.js\"></script>\r\n    <script type=\"text/javascript\" src=\"Master/files/respond.min.js\"></script>\r\n    <![endif]-->\r\n    <!--[if lt IE 7 ]>    \r\n    <script type=\"text/javascript\" src=\"Master/files/dd_belatedpng.js\"></script>\r\n    <script type=\"text/javascript\" src=\"./MasterPage/js/custom-ie.js\"></script>\r\n    <![endif]-->\r\n    <!--[if lt IE 7 ]> <body class=\"ie ielt9 ie6 landing twocol\"> <![endif]-->\r\n    <!--[if IE 7 ]>    <body class=\"ie ielt9 ie7 landing twocol\"> <![endif]-->\r\n    <!--[if IE 8 ]>    <body class=\"ie ielt9 ie8 landing twocol\"> <![endif]-->\r\n    <!--[if IE 9 ]>    <body class=\"ie ie9 landing twocol\"> <![endif]-->\r\n    <!--[if (gt IE 9)|!(IE)]><!-->\r\n    <!--<![endif]-->\r\n\r\n    \r\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"Styles/custom-msb.css\" />\r\n    <script language=\"javascript\" type=\"text/javascript\" src=\"Scripts/msb-exchangerates.js\"></script>\r\n\r\n    <script src=\"https://assets.wogaa.sg/scripts/wogaa.js\"></script>\r\n</head>\r\n\r\n<body class=\"landing twocol\">\r\n\r\n    <!-- Google Tag Manager (noscript) -->\r\n    <noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-55P8K39\" height=\"0\" width=\"0\"\r\n            class=\"mas-iframe-hidden\"></iframe></noscript>\r\n    <!-- End Google Tag Manager (noscript) -->\r\n    <header class=\"mas-site-header mas-site-header--hover-variant\" id=\"site-header\">\r\n        <div class=\"masx-masthead p-x:s\">\r\n            <div class=\"m-x:a wrap:l\">\r\n                <div class=\"masx-masthead-container\">\r\n                    <div class=\"masx-masthead__wrapper\">\r\n                        <svg class=\"sg-crest\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" width=\"32\"\r\n                            height=\"32\" viewBox=\"0 0 32 32\">\r\n                            <title>sg-crest</title>\r\n                            <path\r\n                                d=\"M5.896 11.185c0 0-0.949 1.341 0.294 3.075 0 0 0.196-0.883 2.159-0.883h2.356c2.225 0 3.893-2.126 2.846-4.319 0 0 1.57 0.164 2.095-0.818 0.523-0.981-0.033-1.374-0.818-1.374h-3.959c0 0.704-1.341 0.802-1.341 0h-2.225c0 0[...]
[...]
