---
version: 2
interactions:
    - id: 0
      request:
        host: nbg.gov.ge
        headers:
        url: https://nbg.gov.ge/gw/api/ct/monetarypolicy/currencies/?date=2026-03-02
        method: GET
      response:
        body: '[{"date":"2026-02-28T00:00:00.000Z","currencies":[{"code":"AED","quantity":10,"rateFormated":"7.2853","diffFormated":"0.0049","rate":7.2853,"name":"არაბეთის გაერთიანებული საამიროების დირჰამი","diff":0.0049,"date":"2026-02-27T17:01:00.093Z","validFromDate":"2026-02-28T00:00:00.000Z"},{"code":"AMD","quantity":1000,"rateFormated":"7.0960","diffFormated":"0.0083","rate":7.0960,"name":"სომხური დრამი","diff":0.0083,"date":"2026-02-27T17:01:00.093Z","validFromDate":"2026-02-28T00:00:00.000Z"},{"code":"AUD","quantity":1,"rateFormated":"1.9028","diffFormated":"0.0004","rate":1.9028,"name":"ავსტრალიური დოლარი","diff":0.0004,"date":"2026-02-27T17:01:00.093Z","validFromDate":"2026-02-28T00:00:00.000Z"},{"code":"AZN","quantity":1,"rateFormated":"1.5741","diff[...]
[...]
