---
version: 2
interactions:
    - id: 0
      request:
        host: nationalbank.kz
        headers:
        url: https://nationalbank.kz/rss/get_rates.cfm?fdate=01.04.2026
        method: GET
      response:
        body: |
            <?xml version="1.0" encoding="utf-8"?>
            <rates>
                <generator>Alternate RSS Builder</generator>
                <title>Official exchange rates of National Bank of Republic Kazakhstan</title>
                <link>www.nationalbank.kz</link>
                <description>Official exchange rates of National Bank of Republic Kazakhstan</description>
                <copyright>www.nationalbank.kz</copyright>
                <date>01.04.2026</date>

                                    <item>
                        <fullname>АВСТРАЛИЙСКИЙ ДОЛЛАР</fullname>
                        <title>AUD</title>
                        <description>328.01</description>
                        <quant>1</quant>
                        <index>DOWN</index>
                        <change>-2.13</change>
                        </item>
                                <item>
                        <fullname>АЗЕРБАЙДЖАНСКИЙ МАНАТ</fullname>
                        <title>AZN</title>
                        <description>282.46</description>
                        <quant>1</quant>
                        <index>DOWN</index>
                        <change>-1.63</change>
                        </item>
                                <item>
                        <fullname>АРМЯНСКИЙ[...]
[...]
