---
version: 2
interactions:
    - id: 0
      request:
        host: api.nbp.pl
        headers:
        url: https://api.nbp.pl/api/exchangerates/tables/A/2026-03-01/2026-03-05/?format=json
        method: GET
      response:
        body: '[{"table":"A","no":"041/A/NBP/2026","effectiveDate":"2026-03-02","rates":[{"currency":"bat (Tajlandia)","code":"THB","mid":0.1146},{"currency":"dolar amerykański","code":"USD","mid":3.6056},{"currency":"dolar australijski","code":"AUD","mid":2.5522},{"currency":"dolar Hongkongu","code":"HKD","mid":0.4609},{"currency":"dolar kanadyjski","code":"CAD","mid":2.6410},{"currency":"dolar nowozelandzki","code":"NZD","mid":2.1465},{"currency":"dolar singapurski","code":"SGD","mid":2.8361},{"currency":"euro","code":"EUR","mid":4.2304},{"currency":"forint (Węgry)","code":"HUF","mid":0.011155},{"currency":"frank szwajcarski","c[...]
    - id: 1
      request:
        host: api.nbp.pl
        headers:
        url: https://api.nbp.pl/api/exchangerates/tables/B/2026-03-01/2026-03-05/?format=json
        method: GET
      response:
        body: '[{"table":"B","no":"009/B/NBP/2026","effectiveDate":"2026-03-04","rates":[{"currency":"afgani (Afganistan)","code":"AFN","mid":0.056626},{"currency":"ariary (Madagaskar)","code":"MGA","mid":0.000881},{"currency":"balboa (Panama)","code":"PAB","mid":3.6770},{"currency":"birr etiopski","[...]
    - id: 2
      request:
        host: api.nbp.pl
        headers:
        url: https://api.nbp.pl/api/cenyzlota/2026-03-01/2026-03-05/?format=json
        method: GET
      response:
        body: '[{"data":"2026-03-02","cena":595.71},{"data":"2026-03-03","cena":624.92},{"data":"2026-03-04","cena":624.32},{"data":"2026-03-05","cena":612.51}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"w2x99mlakyS6ZEEMo2OE0MUhuxuno+a5bfsUcXuBT+M="'
        status: 200 OK
        code: 200
        duration: 0s
