---
version: 2
interactions:
    - id: 0
      request:
        host: api.nbrb.by
        headers:
        url: https://api.nbrb.by/exrates/rates?periodicity=0
        method: GET
      response:
        body: '[{"Cur_ID":440,"Date":"2026-03-17T00:00:00","Cur_Abbreviation":"AUD","Cur_Scale":1,"Cur_Name":"Австралийский доллар","Cur_OfficialRate":2.0700},{"Cur_ID":510,"Date":"2026-03-17T00:00:00","Cur_Abbreviation":"AMD","Cur_Scale":1000,"Cur_Name":"Армянских драмов","Cur_OfficialRate":7.8014},{"Cur_ID":514,"Date":"2026-03-17T00:00:00","Cur_Abbreviation":"BRL","Cur_Scale":10,"Cur_Name":"Бразильских реалов","Cur_OfficialRate":5.5390},{"Cur_ID":449,"Date":"2026-03-17T00:00:00","Cur_Abbreviation":"UAH","Cur_Scale":100,"Cur_Name":"Гривен","Cur_OfficialRate":6.6699},{"Cur_ID":450,"Date":"2026-03-17T00:00:00","Cur_Abbreviation":"DKK","Cur_Scal[...]
[...]
    - id: 2
      request:
        host: api.nbrb.by
        headers:
        url: https://api.nbrb.by/exrates/rates/dynamics/440?endDate=2026-03-17&startDate=2026-03-01
        method: GET
      response:
        body: '[{"Cur_ID":440,"Date":"2026-03-01T00:00:00","Cur_OfficialRate":2.0310},{"Cur_ID":440,"Date":"2026-03-02T00:00:00","Cur_OfficialRate":2.0297},{"Cur_ID":440,"Date":"2026-03-03T00:00:00","Cur_OfficialRate":2.0316},{"Cur_ID":440,"Date":"2026-03-04T00:00:00","Cur_OfficialRate":2.0351},{"Cur_ID":440,"Date":"2026-03-05T00:00:00","Cur_OfficialRate":2.0329},{"Cur_ID":440,"Date":"2026-03-06T00:00:00","Cur_OfficialRate":2.0443},{"Cur_ID":440,"Date":"2026-03-07T00:00:00","Cur_OfficialRate":2.0443},{"Cur_ID":440,"Date":"2026-03-08T00:00:00","Cur_OfficialRate":2.0443},{"Cur_ID":440,"Date":"2026-03-09T00:00:00","Cur_OfficialRate":2.0478},{"Cur_ID":440,"Date":"2026-03-10T00:00:00","Cur_OfficialRate":2.0476},{"Cur_ID":440,"Date":"2026-03-11T00:00:00","Cur_OfficialRate":2.0795},{"Cur_ID":440,"Date":"2026-03-12T00:00:00","Cur_OfficialRate":2.0916},{"Cur_ID":440,"Date":"2026-03-13T00:00:00","Cur_OfficialRate":2.0884},{"Cur_ID":440,"Date":"2026-03-14T00:00:00","Cur_OfficialRate":2.0884},{"Cur_ID":440,"Date":"2026-03-15T00:00:00","Cur_OfficialRate":2.0884},{"Cur_ID":440,"Date":"2026-03-16T00:00:00","Cur_OfficialRate":2.0643},{"Cur_ID":440,"Date":"2026-03-17T00:00:00","Cur_OfficialRate":2.0700}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"IaR9U3DYoy3ZuxZuODIkcrDyw4k"'
        status: 200 OK
        code: 200
        duration: 0s
[...]
