---
version: 2
interactions:
    - id: 0
      request:
        host: www.nbrm.mk
        headers:
        url: https://www.nbrm.mk/KLServiceNOV/GetExchangeRate?EndDate=04.01.1999&StartDate=30.12.1998&format=json
        method: GET
      response:
        body: '[{"rBr":248,"datum":"1998-12-30T00:00:00","valuta":"840","oznaka":"USD","drzava":"С А Д","nomin":1,"sreden":51.9008,"drzavaAng":"USA","drzavaAl":"SHBA","nazivMak":"САД долар","nazivAng":"US dollar","nazivAl":"Dollari Amerikan","datum_f":"0001-01-01T00:00:00"},{"rBr":248,"datum":"1998-12-30T00:00:00","valuta":"826","oznaka":"GBP","drzava":"В.Британија","nomin":1,"sreden":87.1107,"drzavaAng":"U.K.","drzavaAl":"Britania e Madhe","nazivMak":"британска фунта","nazivAng":"Pound sterling","nazivAl":"Pondi Britanik","datum_f":"0001-01-01T00:00:00"},{"rBr":248,"datum":"1998-12-30T00:00:00","valuta":"756","oznaka":"CHF","drzava":"Швајцарија","nomin":100,"sreden":3796.7437,"drzavaAng":"Switzerland","drzavaAl":"Zvicra","nazivMak":"швајцарс[...]
