---
version: 2
interactions:
    - id: 0
      request:
        host: www.nbt.tj
        headers:
        url: https://www.nbt.tj/en/kurs/export_xml.php?date=2026-05-18&export=xmlout
        method: GET
      response:
        body: |
            <?xml version="1.0" encoding="utf-8" ?>
            <ValCurs Date="2026-05-18" name="Foreign Currency Market">
            <Valute ID="840">
               <CharCode>USD</CharCode>
               <Nominal>1</Nominal>
               <Name>US Dollar</Name>
               <Value>9.3450</Value>
            </Valute>
            <Valute ID="978">
               <CharCode>EUR</CharCode>
               <Nominal>1</Nominal>
               <Name>EURO</Name>
               <Value>10.8757</Value>
            </Valute>
            <Valute ID="156">
               <CharCode>CNY</CharCode>
               <Nominal>1</Nominal>
               <Name>Chinese Yuan</Name>
               <Value>1.3724</Value>
            </Valute>
            <Valute ID="756">
               <CharCode>CHF[...]
[...]
