---
version: 2
interactions:
    - id: 0
      request:
        host: bank.gov.ua
        headers:
        url: https://bank.gov.ua/NBU_Exchange/exchange_site?end=20260316&json=&order=asc&sort=exchangedate&start=20260301
        method: GET
      response:
        body: "[\r\n{ \r\n\"exchangedate\":\"01.03.2026\",\"r030\":788,\"cc\":\"TND\",\"txt\":\"Туніський динар\",\"enname\":\"Tunisian Dinar\",\"rate\":15.093,\"units\":1,\"rate_per_unit\":15.093,\"group\":\"1\",\"calcdate\":\"26.02.2026\",\"special\":null\r\n }\r\n,{ \r\n\"exchangedate\":\"01.03.2026\",\"r030\":764,\"cc\":\"THB\",\"txt\":\"Бат\",\"enname\":\"Baht\",\"rate\":13.9116,\"units\":10,\"rate_per_unit\":1.39116,\"group\":\"1\",\"calcdate\":\"26.02.2026\",\"special\":null\r\n }\r\n,{ \r\n\"exchangedate\":\"01.03.2026\",\"r030\":840,\"cc\":\"USD\",\"txt\":\"Долар США\",\"enname\":\"US Dollar\",\"rate\":43.2081,\"units\":1,\"rate_per_unit\":43.2081,\"group\":\"1\",\"calcdate\":\"26.02.2026\",\"special\":\"N\"\r\n }\r\n,{ \r\n\"exchange[...]
