---
version: 2
interactions:
    - id: 0
      request:
        host: sedlabanki.is
        headers:
        url: https://sedlabanki.is/xmltimeseries/Default.aspx?DagsFra=2026-03-24&DagsTil=2026-03-28&GroupID=9&Type=xml
        method: GET
      response:
        body: <?xml version="1.0"  encoding="utf-8"?><Group ID="9"><Name><![CDATA[Opinbert viðmiðunargengi SÍ]]></Name><TimeSeries ID="4051"><FameName><![CDATA[]]></FameName><Name><![CDATA[Austurrískur skildingur]]></Name><Description><![CDATA[Austurrískur skildingur, skráð kaupgengi.]]></Description><TimeSeriesData /></TimeSeries><TimeSeries ID="4052"><FameName><![CDATA[]]></FameName><Name><![CDATA[Austurrískur skildingur]]></Name><Description><![CDATA[Austurrískur skildingur, skráð miðgengi.]]></Description><TimeSeriesData /></TimeSeries><TimeSeries ID="4053"><FameName><![CDATA[]]></FameName><Name><![CDATA[Austurrískur skildingur]]></Name><Description><![CDATA[Austurrískur skildingur, skráð sölugengi.]]></Description><TimeSeriesData /></TimeSeries><TimeSeries ID="4054"><FameName><![CDATA[]]></FameName><Name><![CDATA[Bandaríkjadalur]]></Name><Description><![CDATA[Bandaríkjadalur, skráð kaupgengi.]]></Description><TimeSeriesData /></TimeSeries><TimeSeries ID="4055"><FameName><![CDATA[]]></FameName><Name><![CDATA[Bandaríkjadalur]]></Name><Description><![CDATA[Bandaríkjadalur, skráð miðgengi.]]></Description><TimeSeriesData><Entry><Date>3/24/2026 12:00:00 AM</Date><Value>124.440000</Value></Entry><Entry><Date>3/25/2026 12:00:00 AM</Date><Value>123.710000</Value></Entry><Entry><Date>3/26/2026 12:00:00 AM</Date><Value>124.270000</Value></Entry><Entry><Date>3/27/2026 12:00:00 AM</Date><Value>124.710000</Value></Entry></TimeSeriesData></TimeSeries><TimeSeries ID="4056"><FameName><![CDATA[]]></FameName><Name><![CDATA[Bandaríkjadalur]]></Name><Description><![CDATA[Bandaríkjadalur, skráð sölugengi.]]></Description><TimeSeriesData /></TimeSeries><TimeSeries ID="4057"><F[...]
[...]
